Repository unicef/hope, pull requests merged in 2024-03, with the labels that each got.

#3663 Fixed small selenium tests instability
  backend/selenium_tests/programme_management/test_programme_management.py
Labels: selenium

#3676 Update DCT limit_to filters
  backend/hct_mis_api/apps/core/schema.py
  backend/hct_mis_api/apps/core/validators.py
  backend/hct_mis_api/apps/program/schema.py
  backend/hct_mis_api/apps/program/tests/test_create_program.py
  backend/hct_mis_api/apps/program/tests/test_update_program.py
  backend/hct_mis_api/apps/program/validators.py
  backend/hct_mis_api/aurora/services/base_flex_registration_service.py
Labels: backend

#3675 [187069] Notify users on payment plan actions
  backend/hct_mis_api/apps/core/base_test_case.py
  backend/hct_mis_api/apps/payment/celery_tasks.py
  backend/hct_mis_api/apps/payment/fixtures.py
  backend/hct_mis_api/apps/payment/notifications.py
  backend/hct_mis_api/apps/payment/services/payment_plan_services.py
  backend/hct_mis_api/apps/payment/templates/payment/payment_plan_action.html
  backend/hct_mis_api/apps/payment/templates/payment/payment_plan_action.txt
  backend/hct_mis_api/apps/payment/tests/test_action_payment_plan_mutation.py
  backend/hct_mis_api/apps/payment/tests/test_payment_notification.py
  backend/hct_mis_api/settings.py
Labels: backend

#3682 [191896] Mailjet integration
  backend/hct_mis_api/apps/utils/mailjet.py
  backend/hct_mis_api/settings.py
Labels: backend

#3683 [192286] Implement mailjet for payment plan notification
  backend/hct_mis_api/apps/payment/notifications.py
  backend/hct_mis_api/apps/payment/tests/test_action_payment_plan_mutation.py
  backend/hct_mis_api/apps/payment/tests/test_payment_notification.py
Labels: backend

#3686 HOTFIX // Set Up FSP FollowUp PaymentPlan
  frontend/src/containers/pages/paymentmodule/SetUpFollowUpFspPage.tsx
  frontend/src/containers/routers/PaymentModuleRoutes.tsx
Labels: hotfix, frontend

#3689 [187069] Payment notification - pass user and date
  backend/hct_mis_api/apps/payment/celery_tasks.py
  backend/hct_mis_api/apps/payment/notifications.py
  backend/hct_mis_api/apps/payment/services/payment_plan_services.py
  backend/hct_mis_api/apps/payment/templates/payment/payment_plan_action.html
  backend/hct_mis_api/apps/payment/templates/payment/payment_plan_action.txt
  backend/hct_mis_api/apps/payment/tests/test_action_payment_plan_mutation.py
  backend/hct_mis_api/apps/payment/tests/test_payment_notification.py
Labels: backend

#3695 [HOTFIX] [192656] RDI enrollment - compress error message
  backend/hct_mis_api/apps/program/utils.py
Labels: hotfix, backend

#3691 [HOTFIX][192695] Admin fixes
  backend/hct_mis_api/api/endpoints/rdi/base.py
  backend/hct_mis_api/api/endpoints/rdi/mixin.py
  backend/hct_mis_api/api/endpoints/rdi/program.py
  backend/hct_mis_api/api/endpoints/rdi/upload.py
  backend/hct_mis_api/api/tests/base.py
  backend/hct_mis_api/api/tests/test_program.py
  backend/hct_mis_api/api/tests/test_rdi.py
  backend/hct_mis_api/api/tests/test_soft.py
  backend/hct_mis_api/apps/registration_data/admin.py
  backend/hct_mis_api/apps/registration_datahub/admin.py
  backend/hct_mis_api/apps/registration_datahub/models.py
Labels: bug, hotfix, backend

#3697 [HOTFIX][193050] Fix wrong information about sanction list last check
  backend/hct_mis_api/apps/household/models.py
Labels: bug, hotfix

#3701 [191359] Upgrade django-adminfilters to v2.4.2
  backend/poetry.lock
  backend/pyproject.toml
Labels: backend

#3700 [193048] Import people via api
  backend/hct_mis_api/api/endpoints/rdi/__init__.py
  backend/hct_mis_api/api/endpoints/rdi/upload_people.py
  backend/hct_mis_api/api/tests/base.py
  backend/hct_mis_api/api/tests/test_upload_people.py
  backend/hct_mis_api/api/urls.py
  backend/hct_mis_api/apps/household/migrations/0172_migration.py
  backend/hct_mis_api/apps/household/models.py
  backend/hct_mis_api/apps/registration_datahub/migrations/0110_migration.py
  backend/hct_mis_api/apps/registration_datahub/models.py
Labels: enhancement, backend

#3703 Update README.md
  docs/technical-specification/development-setup/README.md
Labels: documentation

#3705 [193571] Admin Panel DCT settings enhancements
  backend/hct_mis_api/apps/core/admin.py
  backend/hct_mis_api/apps/core/forms.py
  backend/hct_mis_api/apps/core/tests/test_admin.py
Labels: backend

#3707 [193221] Sanction list screening feature check
  backend/hct_mis_api/apps/grievance/tasks/deduplicate_and_check_sanctions.py
  backend/hct_mis_api/apps/registration_datahub/tasks/rdi_merge.py
  backend/hct_mis_api/apps/sanction_list/tests/test_check_against_sanction_list_pre_merge.py
Labels: backend

#3714 [193048] Register people via API
  backend/hct_mis_api/api/endpoints/rdi/__init__.py
  backend/hct_mis_api/api/endpoints/rdi/delegate_people.py
  backend/hct_mis_api/api/endpoints/rdi/push_people.py
  backend/hct_mis_api/api/tests/base.py
  backend/hct_mis_api/api/tests/test_delegate_people.py
  backend/hct_mis_api/api/tests/test_push_people.py
  backend/hct_mis_api/api/urls.py
  backend/hct_mis_api/apps/household/migrations/0172_migration.py
  backend/hct_mis_api/apps/household/models.py
  backend/hct_mis_api/apps/registration_datahub/migrations/0110_migration.py
  backend/hct_mis_api/apps/registration_datahub/models.py
Labels: enhancement, backend, staging

#3712 [191896] Mailjet - catch all email
  backend/hct_mis_api/apps/payment/tests/test_payment_notification.py
  backend/hct_mis_api/apps/utils/mailjet.py
  backend/hct_mis_api/settings.py
  backend/hct_mis_api/settings_test.py
Labels: backend

#3708 [192437, 192456, 192457, 192458] Limit Steficon Formula visibility to specific BAs
  backend/hct_mis_api/apps/account/migrations/0066_migration.py
  backend/hct_mis_api/apps/account/models.py
  backend/hct_mis_api/apps/account/schema.py
  backend/hct_mis_api/apps/account/tests/test_user_choice_data.py
  backend/hct_mis_api/apps/core/mixins.py
  backend/hct_mis_api/apps/payment/admin.py
  backend/hct_mis_api/apps/payment/migrations/0122_migration.py
  backend/hct_mis_api/apps/payment/models.py
  backend/hct_mis_api/apps/payment/schema.py
  backend/hct_mis_api/apps/payment/tests/test_finance_service_provider_related_queries.py
  backend/hct_mis_api/apps/payment/tests/test_financial_service_provider.py
  backend/hct_mis_api/apps/steficon/admin.py
  backend/hct_mis_api/apps/steficon/migrations/0019_migration.py
  backend/hct_mis_api/apps/steficon/models.py
  backend/hct_mis_api/apps/steficon/schema.py
  backend/hct_mis_api/apps/steficon/tests/snapshots/__init__.py
  backend/hct_mis_api/apps/steficon/tests/snapshots/snap_test_rule_schema.py
  backend/hct_mis_api/apps/steficon/tests/test_rule_schema.py
  backend/hct_mis_api/settings.py
  backend/selenium_tests/conftest.py
Labels: backend

#3717 [193048] Add swagger
  backend/hct_mis_api/api/endpoints/rdi/delegate_people.py
  backend/hct_mis_api/api/endpoints/rdi/push_people.py
Labels: enhancement, backend, staging

#3688 Program remove individual_data_needed
  backend/hct_mis_api/apps/account/fixtures.py
  backend/hct_mis_api/apps/cash_assist_datahub/tests/test_pull_from_datahub.py
  backend/hct_mis_api/apps/mis_datahub/migrations/0050_migration.py
  backend/hct_mis_api/apps/mis_datahub/models.py
  backend/hct_mis_api/apps/mis_datahub/tasks/send_tp_to_datahub.py
  backend/hct_mis_api/apps/mis_datahub/tests/test_data_send_tp_to_datahub.py
  backend/hct_mis_api/apps/mis_datahub/tests/test_external_collector_send_tp_to_datahub.py
  backend/hct_mis_api/apps/mis_datahub/tests/test_send_tp_to_datahub.py
  backend/hct_mis_api/apps/payment/fixtures.py
  backend/hct_mis_api/apps/payment/tests/test_payment_plan_reconciliation.py
  backend/hct_mis_api/apps/payment/tests/test_recalculating_household_cash_received.py
  backend/hct_mis_api/apps/payment/tests/test_update_reconciliation_data.py
  backend/hct_mis_api/apps/program/fixtures.py
  backend/hct_mis_api/apps/program/fixtures/data-cypress.json
  backend/hct_mis_api/apps/program/fixtures/data.json
  backend/hct_mis_api/apps/program/inputs.py
  backend/hct_mis_api/apps/program/migrations/0046_migration.py
  backend/hct_mis_api/apps/program/models.py
  backend/hct_mis_api/apps/program/schema.py
  backend/hct_mis_api/apps/registration_data/fixtures.py
  backend/hct_mis_api/apps/steficon/models.py
  backend/hct_mis_api/apps/steficon/templates/admin/steficon/rule/test.html
  backend/hct_mis_api/apps/targeting/models.py
  backend/hct_mis_api/apps/targeting/mutations.py
  backend/hct_mis_api/one_time_scripts/gpf_activity_log_assign_program.py
  cypress/cypress/page-objects/pages/program_management/program_management.po.js
  frontend/data/schema.graphql
  frontend/fixtures/programs/fakeApolloAllPrograms.ts
  frontend/fixtures/programs/fakeProgram.ts
  frontend/src/__generated__/graphql.tsx
  frontend/src/apollo/mutations/program/CreateProgram.ts
  frontend/src/apollo/mutations/program/UpdateProgram.ts
  frontend/src/apollo/queries/program/AllPrograms.ts
  frontend/src/apollo/queries/program/AllProgramsForChoices.ts
  frontend/src/apollo/queries/program/Program.ts
  frontend/src/components/targeting/FormikSelectFieldConfirmProgram.tsx
  frontend/src/components/targeting/TargetPopulationProgramme.tsx
  frontend/src/components/targeting/TargetingCriteria/TargetingCriteria.tsx
  frontend/src/containers/GlobalProgramSelect.tsx
  frontend/src/containers/forms/TargetCriteriaForm.tsx
  frontend/src/programContext.tsx
Labels: backend, frontend

#3718 [HOTFIX] [193983] Can close ticket with individual withrawal without household
  backend/hct_mis_api/apps/grievance/services/data_change/individual_dalete_service.py
  backend/hct_mis_api/apps/grievance/services/data_change/utils.py
  backend/hct_mis_api/apps/grievance/services/needs_adjudication_ticket_services.py
  backend/hct_mis_api/apps/grievance/services/reassign_roles_services.py
Labels: hotfix, backend

#3715 [193982]-fix feedback admin 2
  frontend/src/containers/pages/accountability/feedback/CreateFeedbackPage.tsx
  frontend/src/containers/pages/accountability/feedback/EditFeedbackPage.tsx
Labels: bug, frontend

#3694 Selenium - feedback
  backend/hct_mis_api/apps/accountability/fixtures/data-cypress.json
  backend/hct_mis_api/apps/core/fixtures/data-selenium.json
  backend/hct_mis_api/apps/household/fixtures/data-cypress.json
  backend/selenium_tests/conftest.py
  backend/selenium_tests/girevance/feedback/test_feedback.py
  backend/selenium_tests/helpers/helper.py
  backend/selenium_tests/page_object/base_components.py
  backend/selenium_tests/page_object/filters.py
  backend/selenium_tests/page_object/grievance/details_feedback_page.py
  backend/selenium_tests/page_object/grievance/feedback.py
  backend/selenium_tests/page_object/grievance/new_feedback.py
Labels: selenium

#3713 [193558]-Admin area counter
  backend/hct_mis_api/apps/account/schema.py
  backend/hct_mis_api/apps/geo/schema.py
  backend/selenium_tests/page_object/programme_details/programme_details.py
  backend/selenium_tests/programme_management/test_programme_management.py
  frontend/codegen.yml
  frontend/data/schema.graphql
  frontend/data/schema.json
  frontend/src/__generated__/graphql.tsx
  frontend/src/apollo/mutations/program/UpdateProgram.ts
  frontend/src/apollo/queries/core/AllAreasTree.ts
  frontend/src/apollo/queries/program/Program.ts
  frontend/src/components/programs/CreateProgram/ProgramPartnerCard.tsx
  frontend/src/components/programs/ProgramDetails/ProgramDetails.tsx
  frontend/src/components/programs/ProgramDetails/__snapshots__/ProgramDetails.test.tsx.snap
  frontend/src/containers/pages/program/EditProgramPage.tsx
  frontend/src/utils/en.json
Labels: backend, frontend

#3709 [186760] Add debug toolbar
  backend/hct_mis_api/settings.py
  backend/hct_mis_api/urls.py
  backend/poetry.lock
  backend/pyproject.toml
Labels: backend

#3725 fix admin 2 in create grievance
  frontend/src/components/grievances/LookUps/LookUpHouseholdIndividual/LookUpHouseholdIndividualSelection.tsx
Labels: frontend

#3735 Add sentry tag BA for api calls
  backend/hct_mis_api/middlewares/sentry.py
Labels: backend

#3723 Selenium RDI smoke tests
  backend/selenium_tests/conftest.py
  backend/selenium_tests/page_object/base_components.py
  backend/selenium_tests/page_object/registration_data_import/rdi_details_page.py
  backend/selenium_tests/page_object/registration_data_import/registration_data_import.py
  backend/selenium_tests/programme_management/test_programme_management.py
  backend/selenium_tests/registration_data_import/test_registration_data_import.py
  backend/selenium_tests/tools/tag_name_finder.py
  frontend/src/components/rdi/details/MergeRegistrationDataImportDialog.tsx
  frontend/src/components/rdi/details/RegistrationDataImportDetailsPageHeader.tsx
  frontend/src/components/rdi/details/RerunDedupe.tsx
  frontend/src/components/rdi/details/refuseRdiForm.tsx
Labels: selenium

#3738 RDI API People update required fields
  backend/hct_mis_api/api/endpoints/rdi/push_people.py
  backend/hct_mis_api/api/endpoints/rdi/upload.py
  backend/hct_mis_api/api/tests/test_push_people.py
  backend/hct_mis_api/api/tests/test_upload_people.py
Labels: backend

#3722 [192988] Fix permissions
  backend/hct_mis_api/apps/account/models.py
  backend/hct_mis_api/apps/account/permissions.py
  backend/hct_mis_api/apps/account/tests/test_check_permissions.py
  backend/hct_mis_api/apps/account/tests/test_user_filters.py
  backend/hct_mis_api/apps/grievance/schema.py
  backend/hct_mis_api/apps/grievance/tests/test_cross_area_filter_available.py
  backend/hct_mis_api/apps/grievance/tests/test_filter_grievance_by_cross_area.py
  backend/hct_mis_api/apps/household/tests/test_household_area_query.py
Labels: bug, backend

#3724 Sentry errors
  backend/hct_mis_api/apps/geo/admin.py
  backend/hct_mis_api/apps/geo/tests/test_admin.py
  backend/hct_mis_api/apps/payment/tests/test_file/pp_payment_list_unexpected_column.xlsx
  backend/hct_mis_api/apps/payment/tests/test_import_export_payment_plan_payment_list.py
  backend/hct_mis_api/apps/payment/xlsx/xlsx_payment_plan_import_service.py
  frontend/src/components/grievances/LookUps/LookUpPaymentRecordTable/LookUpPaymentRecordTableHeadCells.tsx
Labels: bug, backend

#3740 [193041] Admin enhancement - payment
  backend/hct_mis_api/apps/payment/admin.py
  backend/hct_mis_api/apps/payment/models.py
Labels: enhancement, backend

#3741 [194006] Fix fill `receivedAmount` on edit
  frontend/src/components/payments/VerifyManual.tsx
  frontend/src/containers/pages/payments/VerificationPaymentDetailsPage.tsx
  frontend/src/containers/pages/payments/VerificationPaymentRecordDetailsPage.tsx
Labels: bug, frontend

#3743 Selenium - test stabilisation
  backend/selenium_tests/README.md
  backend/selenium_tests/helpers/helper.py
  backend/selenium_tests/page_object/programme_management/programme_management.py
  backend/selenium_tests/registration_data_import/test_registration_data_import.py
Labels: selenium

#3745 [193040] Admin enhancement - program
  backend/hct_mis_api/apps/program/admin.py
Labels: enhancement, backend

#3732 [194046]-error message when triggering rapid pro
  frontend/src/apollo/client.ts
  frontend/src/containers/pages/accountability/communication/CreateCommunicationPage.tsx
  frontend/src/containers/pages/accountability/surveys/CreateSurveyPage.tsx
Labels: bug, frontend
