Repository unicef/hope, pull requests merged in 2024-04, with the labels that each got.

#3744 [192988] Fix partner permissions
  backend/hct_mis_api/apps/account/models.py
  backend/hct_mis_api/apps/account/tests/test_user_roles.py
Labels: bug, backend

#3710 [179484] Have button to access to object in the admin available only to Superusers
  backend/hct_mis_api/apps/account/permissions.py
  backend/hct_mis_api/apps/accountability/admin.py
  backend/hct_mis_api/apps/accountability/models.py
  backend/hct_mis_api/apps/accountability/nodes.py
  backend/hct_mis_api/apps/grievance/models.py
  backend/hct_mis_api/apps/grievance/schema.py
  backend/hct_mis_api/apps/household/models.py
  backend/hct_mis_api/apps/household/schema.py
  backend/hct_mis_api/apps/payment/migrations/0123_migration.py
  backend/hct_mis_api/apps/payment/models.py
  backend/hct_mis_api/apps/payment/schema.py
  backend/hct_mis_api/apps/program/models.py
  backend/hct_mis_api/apps/program/schema.py
  backend/hct_mis_api/apps/registration_data/models.py
  backend/hct_mis_api/apps/registration_data/schema.py
  backend/hct_mis_api/apps/targeting/graphql_types.py
  backend/hct_mis_api/apps/targeting/models.py
  backend/hct_mis_api/apps/utils/models.py
  frontend/data/schema.graphql
  frontend/src/__generated__/graphql.tsx
  frontend/src/apollo/fragments/GrievanceTicketFragment.ts
  frontend/src/apollo/fragments/HouseholdFragments.ts
  frontend/src/apollo/fragments/IndividualFragments.ts
  frontend/src/apollo/fragments/RegistrationFragments.ts
  frontend/src/apollo/fragments/TargetPopulationFragments.ts
  frontend/src/apollo/queries/communication/AccountabilityCommunicationMessage.ts
  frontend/src/apollo/queries/core/Me.ts
  frontend/src/apollo/queries/feedback/Feedback.ts
  frontend/src/apollo/queries/paymentmodule/Payment.ts
  frontend/src/apollo/queries/paymentmodule/PaymentPlan.ts
  frontend/src/apollo/queries/payments/CashPlan.ts
  frontend/src/apollo/queries/payments/PaymentRecord.ts
  frontend/src/apollo/queries/program/Program.ts
  frontend/src/apollo/queries/surveys/Survey.ts
  frontend/src/components/accountability/Feedback/FeedbackDetailsToolbar.tsx
  frontend/src/components/core/AdminButton.tsx
  frontend/src/components/grievances/GrievanceDetailsToolbar.tsx
  frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsHeader/PaymentPlanDetailsHeader.tsx
  frontend/src/components/payments/VerificationPlanDetails.tsx
  frontend/src/components/rdi/details/RegistrationDataImportDetailsPageHeader.tsx
  frontend/src/containers/pages/accountability/communication/CommunicationDetailsPage.tsx
  frontend/src/containers/pages/accountability/communication/CreateCommunicationPage.tsx
  frontend/src/containers/pages/accountability/surveys/SurveyDetailsPage.tsx
  frontend/src/containers/pages/headers/ProgramDetailsPageHeader.tsx
  frontend/src/containers/pages/headers/TargetPopulationPageHeader.tsx
  frontend/src/containers/pages/paymentmodule/PaymentDetailsPage.tsx
  frontend/src/containers/pages/payments/VerificationPaymentDetailsPage.tsx
  frontend/src/containers/pages/payments/VerificationPaymentRecordDetailsPage.tsx
  frontend/src/containers/pages/population/PopulationHouseholdDetailsPage.tsx
  frontend/src/containers/pages/population/PopulationIndividualsDetailsPage.tsx
Labels: backend, frontend

#3764 [177836] Add codecov
  .github/workflows/ci.yml
Labels: enhancement, devops

#3766 Parameterize tests
  backend/hct_mis_api/apps/reporting/tests/test_generate_dashboard_report_service.py
Labels: backend

#3750 Selenium - RDI happy path
  backend/selenium_tests/conftest.py
  backend/selenium_tests/helpers/helper.py
  backend/selenium_tests/helpers/rdi_import_50_hh_50_ind.xlsx
  backend/selenium_tests/page_object/base_components.py
  backend/selenium_tests/page_object/programme_population/households.py
  backend/selenium_tests/page_object/programme_population/households_details.py
  backend/selenium_tests/page_object/programme_population/individuals.py
  backend/selenium_tests/page_object/registration_data_import/rdi_details_page.py
  backend/selenium_tests/page_object/registration_data_import/registration_data_import.py
  backend/selenium_tests/registration_data_import/test_registration_data_import.py
  backend/selenium_tests/tools/tag_name_finder.py
  compose.selenium.yml
  deployment/docker-compose.selenium.yml
  frontend/src/components/rdi/details/DedupeBox.tsx
  frontend/src/components/rdi/details/RegistrationDetails/__snapshots__/RegistrationDetails.test.tsx.snap
  frontend/src/containers/pages/rdi/RegistrationDataImportDetailsPage.tsx
Labels: selenium

#3768 Sentry Fix division by zero
  backend/hct_mis_api/apps/core/tests/test_utils.py
  backend/hct_mis_api/apps/core/utils.py
Labels: bug, backend

#3765 [192430,193982]-Changes needed bugs fixes
  frontend/src/components/core/CashPlanDetails/__snapshots__/CashPlanDetails.test.tsx.snap
  frontend/src/components/core/LabelizedField.tsx
  frontend/src/components/grievances/GrievancesDetails/__snapshots__/GrievancesDetails.test.tsx.snap
  frontend/src/components/grievances/utils/editGrievanceUtils.ts
  frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetails/__snapshots__/PaymentPlanDetails.test.tsx.snap
  frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsResults/__snapshots__/PaymentPlanDetailsResults.test.tsx.snap
  frontend/src/components/population/HouseholdDetails/__snapshots__/HouseholdDetails.test.tsx.snap
  frontend/src/components/population/IndividualBioData/__snapshots__/IndividualBioData.test.tsx.snap
  frontend/src/components/programs/ProgramDetails/__snapshots__/ProgramDetails.test.tsx.snap
  frontend/src/components/rdi/details/RegistrationDetails/__snapshots__/RegistrationDetails.test.tsx.snap
  frontend/src/components/rdi/details/households/HouseholdDetails/__snapshots__/HouseholdDetails.test.tsx.snap
  frontend/src/components/rdi/details/individual/RegistrationIndividualBioData/__snapshots__/RegistrationIndividualBioData.test.tsx.snap
Labels: bug, frontend

#3755 [195395] Copy Program validation
  backend/hct_mis_api/apps/program/mutations.py
  backend/hct_mis_api/apps/program/tests/snapshots/snap_test_copy_program.py
  backend/hct_mis_api/apps/program/tests/test_copy_program.py
  backend/hct_mis_api/apps/program/utils.py
  frontend/src/__generated__/graphql.tsx
  frontend/src/apollo/mutations/program/CopyProgram.ts
  frontend/src/containers/pages/program/DuplicateProgramPage.tsx
Labels: backend, frontend

#3772 redirect to programs list if url === /:businessArea
  frontend/src/App.tsx
Labels: frontend

#3769 [177836] Send e2e coverage to codecov
  .github/workflows/ci.yml
  backend/hct_mis_api/apps/core/management/commands/initcypress.py
  backend/hct_mis_api/apps/core/management/commands/initdemo.py
  backend/hct_mis_api/apps/household/fixtures/data-cypress.json
  backend/hct_mis_api/apps/household/fixtures/data.json
  backend/hct_mis_api/apps/household/fixtures/documenttype.json
  backend/hct_mis_api/apps/household/migrations/0125_migration.py
  backend/hct_mis_api/apps/household/tests/test_household_query.py
  backend/hct_mis_api/one_time_scripts/tests/test_fix_documents_duplicates.py
  backend/selenium_tests/girevance/feedback/test_feedback.py
  deployment/docker-compose.selenium.yml
Labels: devops

#3775 ui labels PP
  frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsHeader/HeaderButtons/AcceptedPaymentPlanHeaderButtons.tsx
  frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsHeader/HeaderButtons/__snapshots__/AcceptedPaymentPlanHeaderButtons.test.tsx.snap
  frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsHeader/PaymentPlanDetailsHeader.tsx
Labels: bug, frontend

#3784 Selenium: CI report
  .github/workflows/ci.yml
Labels: selenium

#3734 [179445] Integrate Matomo
  .env.example
  backend/hct_mis_api/apps/administration/templates/admin/base.html
  backend/hct_mis_api/apps/core/context_processors.py
  backend/hct_mis_api/apps/core/templates/matomo.html
  backend/hct_mis_api/apps/web/templates/web/index.html
  backend/hct_mis_api/settings.py
Labels: enhancement

#3781 [196187] Add To models information about Merge status
  backend/hct_mis_api/apps/core/mixins.py
  backend/hct_mis_api/apps/household/fixtures/data.json
  backend/hct_mis_api/apps/household/migrations/0174_migration.py
  backend/hct_mis_api/apps/household/models.py
Labels: backend

#3749 [194159] Grievance - Not possible to add linked ticket
  backend/hct_mis_api/apps/grievance/schema.py
Labels: backend

#3779 Fix grievance access
  backend/hct_mis_api/apps/grievance/schema.py
  backend/hct_mis_api/apps/grievance/tests/snapshots/snap_test_grievance_query.py
Labels: bug, backend

#3761 Selenium - smoke tests population
  .github/workflows/ci.yml
  backend/selenium_tests/conftest.py
  backend/selenium_tests/page_object/programme_population/households.py
  backend/selenium_tests/page_object/programme_population/households_details.py
  backend/selenium_tests/page_object/programme_population/individuals.py
  backend/selenium_tests/page_object/programme_population/individuals_details.py
  backend/selenium_tests/programme_population/test_households.py
  backend/selenium_tests/programme_population/test_individuals.py
Labels: selenium

#3771 193016/split members
  frontend/src/components/core/Bold.tsx
  frontend/src/components/grievances/GrievancesTable/bulk/BulkBaseModal.tsx
  frontend/src/components/grievances/LinkedTicketsModal/LinkedTicketsModal.tsx
  frontend/src/components/population/LinkedGrievancesModal/LinkedGrievancesModal.tsx
  frontend/src/containers/pages/accountability/communication/CommunicationDetailsPage.tsx
  frontend/src/containers/pages/accountability/communication/CreateCommunicationPage.tsx
  frontend/src/containers/pages/accountability/surveys/CreateSurveyPage.tsx
  frontend/src/containers/pages/headers/TargetPopulationPageHeader.tsx
  frontend/src/containers/pages/population/PopulationHouseholdDetailsPage.tsx
  frontend/src/containers/pages/population/PopulationIndividualsDetailsPage.tsx
  frontend/src/containers/tables/population/CollectorsTable/CollectorsTable.tsx
  frontend/src/containers/tables/population/CollectorsTable/index.ts
  frontend/src/containers/tables/population/HouseholdIndividualsTable/HouseholdIndividualsTable.test.tsx
  frontend/src/containers/tables/population/HouseholdIndividualsTable/__snapshots__/HouseholdIndividualsTable.test.tsx.snap
  frontend/src/containers/tables/population/HouseholdIndividualsTable/index.ts
  frontend/src/containers/tables/population/HouseholdMembersTable/HouseholdMembersTable.tsx
  frontend/src/containers/tables/population/HouseholdMembersTable/index.ts
Labels: frontend

#3798 return permission denied if no permission Managerial Console
  frontend/src/containers/pages/managerialConsole/ManagerialConsolePage.tsx
Labels: bug, frontend

#3799 Fix Kobo Imported HH detail_id
  backend/hct_mis_api/apps/registration_datahub/models.py
  backend/hct_mis_api/apps/registration_datahub/tasks/rdi_kobo_create.py
  backend/hct_mis_api/apps/registration_datahub/tasks/rdi_merge.py
  backend/hct_mis_api/apps/registration_datahub/tests/test_rdi_create.py
  backend/hct_mis_api/apps/registration_datahub/tests/test_rdi_merge.py
  backend/hct_mis_api/one_time_scripts/fix_kobo_imported_hh_detail_id.py
  backend/hct_mis_api/one_time_scripts/tests/test_fix_kobo_imported_hh_detail_id.py
Labels: bug, backend

#3803 [197464] Fix unique constraint on PaymentPlan name
  backend/hct_mis_api/apps/payment/migrations/0125_migration.py
  backend/hct_mis_api/apps/payment/models.py
Labels: bug, backend

#3802 Adjust target value
  codecov.yml
Labels: devops

#3804 [197340] RDI API: counters missing values
  backend/hct_mis_api/api/endpoints/rdi/base.py
Labels: bug, backend

#3800 update dependencies (frontend)
  frontend/package.json
  frontend/src/components/grievances/PaymentGrievance/PaymentGrievanceDetails/__snapshots__/PaymentGrievanceDetails.test.tsx.snap
  frontend/src/components/grievances/PaymentGrievance/VerifyPaymentGrievance/__snapshots__/VerifyPaymentGrievance.test.tsx.snap
  frontend/src/components/paymentmodule/CreatePaymentPlan/CreatePaymentPlanHeader/__snapshots__/CreatePaymentPlanHeader.test.tsx.snap
  frontend/src/components/paymentmodule/CreateSetUpFsp/SetUpFspButtonActions/__snapshots__/SetUpFspButtonActions.test.tsx.snap
  frontend/src/components/paymentmodule/EditFsp/EditFspHeader/__snapshots__/EditFspHeader.test.tsx.snap
  frontend/src/components/paymentmodule/EditPaymentPlan/EditPaymentPlanHeader/__snapshots__/EditPaymentPlanHeader.test.tsx.snap
  frontend/src/components/paymentmodule/FspPlanDetails/FspHeader/__snapshots__/FspHeader.test.tsx.snap
  frontend/src/components/paymentmodule/PaymentPlanDetails/AcceptanceProcess/AcceptanceProcessStepper/AcceptanceProcessStepper.test.tsx
  frontend/src/components/paymentmodule/PaymentPlanDetails/AcceptanceProcess/AcceptanceProcessStepper/AcceptanceProcessStepper.tsx
  frontend/src/components/paymentmodule/PaymentPlanDetails/FspSection/__snapshots__/FspSection.test.tsx.snap
  frontend/src/components/paymentmodule/PaymentPlanDetails/ImportXlsxPaymentPlanPaymentList/__snapshots__/ImportXlsxPaymentPlanPaymentList.test.tsx.snap
  frontend/src/components/paymentmodule/PaymentPlanDetails/ImportXlsxPaymentPlanPaymentListPerFsp/__snapshots__/ImportXlsxPaymentPlanPaymentListPerFsp.test.tsx.snap
  frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsHeader/HeaderButtons/__snapshots__/AcceptedPaymentPlanHeaderButtons.test.tsx.snap
  frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsHeader/HeaderButtons/__snapshots__/InApprovalPaymentPlanHeaderButtons.test.tsx.snap
  frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsHeader/HeaderButtons/__snapshots__/InAuthorizationPaymentPlanHeaderButtons.test.tsx.snap
  frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsHeader/HeaderButtons/__snapshots__/InReviewPaymentPlanHeaderButtons.test.tsx.snap
  frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsHeader/HeaderButtons/__snapshots__/LockedPaymentPlanHeaderButtons.test.tsx.snap
  frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsHeader/HeaderButtons/__snapshots__/OpenPaymentPlanHeaderButtons.test.tsx.snap
  frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsHeader/__snapshots__/ApprovePaymentPlan.test.tsx.snap
  frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsHeader/__snapshots__/AuthorizePaymentPlan.test.tsx.snap
  frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsHeader/__snapshots__/LockPaymentPlan.test.tsx.snap
  frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsHeader/__snapshots__/MarkAsReleasedPaymentPlan.test.tsx.snap
  frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsHeader/__snapshots__/PaymentPlanDetailsHeader.test.tsx.snap
  frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsHeader/__snapshots__/RejectPaymentPlan.test.tsx.snap
  frontend/src/components/programs/CreateProgram/ProgramPartnerCard.tsx
  frontend/yarn.lock
  yarn.lock
Labels: dependencies, frontend

#3812 fix eslint issues
  frontend/package.json
  frontend/src/components/core/Drawer/Drawer.tsx
  frontend/src/components/core/Drawer/DrawerItems.tsx
  frontend/src/components/people/PeopleBioData/PeopleBioData.tsx
  frontend/src/components/rdi/create/xlsx/CreateImportFromXlsxForm.tsx
  frontend/src/containers/pages/rdi/people/RegistrationDataForPeopleImportPage.tsx
  frontend/src/containers/pages/rdi/people/RegistrationDataImportForPeopleDetailsPage.tsx
  frontend/src/containers/routers/RegistrationRoutes.tsx
  frontend/src/containers/tables/people/PeopleListTable/PeopleListTable.tsx
  frontend/src/containers/tables/people/PeopleListTable/PeopleListTableRow.tsx
  frontend/src/containers/tables/rdi/RegistrationDataImportForPeopleTable/RegistrationDataImportForPeopleTable.tsx
  frontend/yarn.lock
Labels: frontend

#3312 [175864] Program Registration ID
  backend/hct_mis_api/apps/core/field_attributes/core_fields_attributes.py
  backend/hct_mis_api/apps/core/fixtures.py
  backend/hct_mis_api/apps/core/tests/test_files/kobo-template-valid.xlsx
  backend/hct_mis_api/apps/core/tests/test_kobo_template_upload.py
  backend/hct_mis_api/apps/core/utils.py
  backend/hct_mis_api/apps/grievance/tests/test_close_data_change_tickets.py
  backend/hct_mis_api/apps/grievance/tests/test_close_grievance_ticket_and_disable_decuplication.py
  backend/hct_mis_api/apps/grievance/tests/test_grievance_data_change_mutations.py
  backend/hct_mis_api/apps/grievance/tests/test_withdraw_household.py
  backend/hct_mis_api/apps/household/filters.py
  backend/hct_mis_api/apps/household/fixtures.py
  backend/hct_mis_api/apps/household/migrations/0174_migration.py
  backend/hct_mis_api/apps/household/models.py
  backend/hct_mis_api/apps/household/schema.py
  backend/hct_mis_api/apps/household/tests/snapshots/snap_test_household_registration_id.py
  backend/hct_mis_api/apps/household/tests/test_household_query.py
  backend/hct_mis_api/apps/household/tests/test_household_registration_id.py
  backend/hct_mis_api/apps/mis_datahub/tests/test_external_collector_send_tp_to_datahub.py
  backend/hct_mis_api/apps/payment/tests/test_finish_verification_plan.py
  backend/hct_mis_api/apps/registration_datahub/migrations/0111_migration.py
  backend/hct_mis_api/apps/registration_datahub/models.py
  backend/hct_mis_api/apps/registration_datahub/tasks/rdi_merge.py
  backend/hct_mis_api/apps/registration_datahub/tests/test_deduplication.py
  backend/hct_mis_api/apps/registration_datahub/tests/test_rdi_merge.py
  backend/hct_mis_api/apps/utils/tests/test_elasticsearch_bulk_upsert.py
  frontend/data/schema.graphql
  frontend/src/__generated__/graphql.tsx
  frontend/src/apollo/fragments/HouseholdFragments.ts
  frontend/src/containers/pages/population/PopulationHouseholdDetailsPage.tsx
Labels: enhancement, backend, frontend

#3813 [198143] Mailjet - Add prefix to Subject
  backend/.coveragerc
  backend/hct_mis_api/apps/payment/tests/test_payment_notification.py
  backend/hct_mis_api/apps/utils/mailjet.py
  backend/hct_mis_api/config/settings.py
  backend/hct_mis_api/conftest.py
Labels: backend

#3795 [177497] Search Enhancements: two search boxes
  .github/workflows/ci.yml
  backend/hct_mis_api/apps/core/base_test_case.py
  backend/hct_mis_api/apps/core/es_filters.py
  backend/hct_mis_api/apps/grievance/es_query.py
  backend/hct_mis_api/apps/grievance/filters.py
  backend/hct_mis_api/apps/grievance/schema.py
  backend/hct_mis_api/apps/grievance/tests/test_bulk_action_service.py
  backend/hct_mis_api/apps/grievance/tests/test_filter_grievance_by_cross_area.py
  backend/hct_mis_api/apps/grievance/tests/test_grievance_query.py
  backend/hct_mis_api/apps/grievance/tests/test_grievance_search_filter.py
  backend/hct_mis_api/apps/grievance/tests/test_sorting_linked_tickets.py
  backend/hct_mis_api/apps/household/filters.py
  backend/hct_mis_api/apps/household/schema.py
  backend/hct_mis_api/apps/household/tests/snapshots/snap_test_household_query.py
  backend/hct_mis_api/apps/household/tests/snapshots/snap_test_individual_query.py
  backend/hct_mis_api/apps/household/tests/test_household_area_query.py
  backend/hct_mis_api/apps/household/tests/test_household_query.py
  backend/hct_mis_api/apps/household/tests/test_individual_query.py
  backend/hct_mis_api/apps/utils/elasticsearch_utils.py
  backend/hct_mis_api/config/settings.py
  backend/hct_mis_api/conftest.py
  backend/selenium_tests/page_object/grievance/grievance_tickets.py
  backend/selenium_tests/page_object/programme_population/households.py
  backend/selenium_tests/page_object/programme_population/individuals.py
  cypress/cypress/page-objects/pages/grievance/grievance_tickets.po.js
  frontend/data/schema.graphql
  frontend/src/__generated__/graphql.tsx
  frontend/src/apollo/queries/grievances/AllGrievanceTicket.ts
  frontend/src/apollo/queries/grievances/GrievancesChoiceData.ts
  frontend/src/apollo/queries/population/AllHouseholds.ts
  frontend/src/apollo/queries/population/AllHouseholdsForPopulationTable.ts
  frontend/src/apollo/queries/population/AllIndividuals.ts
  frontend/src/apollo/queries/population/AllIndividualsForPopulationTable.ts
  frontend/src/apollo/queries/population/HouseholdChoiceData.ts
  frontend/src/apollo/queries/population/IndividualChoiceData.ts
  frontend/src/components/accountability/Communication/LookUpsCommunication/LookUpSelectionCommunication.tsx
  frontend/src/components/grievances/GrievancesTable/GrievancesFilters.tsx
  frontend/src/components/grievances/GrievancesTable/GrievancesTable.tsx
  frontend/src/components/grievances/LookUps/LookUpHouseholdIndividual/LookUpHouseholdIndividualSelectionDetail.tsx
  frontend/src/components/grievances/LookUps/LookUpHouseholdTable/LookUpHouseholdTable.tsx
  frontend/src/components/grievances/LookUps/LookUpIndividualTable/LookUpIndividualTable.tsx
  frontend/src/components/grievances/LookUps/LookUpLinkedTicketsTable/LookUpLinkedTicketsTable.tsx
  frontend/src/components/grievances/LookUps/LookUpReassignRole/LookUpReassignRoleModal.tsx
  frontend/src/components/population/HouseholdFilter.tsx
  frontend/src/components/population/IndividualsFilter.tsx
  frontend/src/containers/pages/grievances/GrievancesTablePage.tsx
  frontend/src/containers/pages/people/PeoplePage.tsx
  frontend/src/containers/pages/population/PopulationHouseholdPage.tsx
  frontend/src/containers/pages/population/PopulationIndividualsPage.tsx
  frontend/src/containers/tables/Communication/LookUpHouseholdTableCommunication/LookUpHouseholdTableCommunication.tsx
  frontend/src/containers/tables/people/PeopleListTable/PeopleListTable.test.tsx
  frontend/src/containers/tables/people/PeopleListTable/PeopleListTable.tsx
  frontend/src/containers/tables/population/HouseholdTable/HouseholdTable.test.tsx
  frontend/src/containers/tables/population/HouseholdTable/HouseholdTable.tsx
  frontend/src/containers/tables/population/IndividualsListTable/IndividualsListTable.test.tsx
  frontend/src/containers/tables/population/IndividualsListTable/IndividualsListTable.tsx
Labels: enhancement, backend, frontend

#3817 [192437] Limit FSP visibility to specific BAs
  backend/hct_mis_api/apps/payment/schema.py
  backend/hct_mis_api/apps/payment/tests/test_fsp_in_payment_plan.py
Labels: backend
