Repository unicef/hope, pull requests merged in 2024-08, with the labels that each got.

#4106 [209052] Area Pcode should be unique if not blank
  backend/hct_mis_api/apps/geo/admin.py
  backend/hct_mis_api/apps/geo/fixtures.py
  backend/hct_mis_api/apps/geo/migrations/0009_migration.py
  backend/hct_mis_api/apps/geo/models.py
Labels: backend

#4112 Fix/pdu frontend known issues
  frontend/src/components/population/ProgrammeTimeSeriesFields.tsx
  frontend/src/components/programs/CreateProgram/DetailsStep.tsx
  frontend/src/components/programs/CreateProgram/ProgramFieldSeriesStep.tsx
  frontend/src/components/programs/CreateProgram/programValidationSchema.ts
  frontend/src/containers/pages/householdMembers/NewTemplatePage.tsx
  frontend/src/containers/pages/householdMembers/NewTemplatePeoplePage.tsx
  frontend/src/containers/pages/people/PeopleDetailsPage.tsx
  frontend/src/containers/pages/program/CreateProgramPage.tsx
  frontend/src/containers/pages/program/DuplicateProgramPage.tsx
  frontend/src/containers/pages/program/EditProgramPage.tsx
  frontend/src/containers/routers/PopulationRoutes.tsx
Labels: bug, frontend

#4117 fix pdu bugs part 2
  backend/selenium_tests/programme_management/test_programme_management.py
  frontend/src/components/paymentmodule/CreateSetUpFsp/DeliveryMechanismRow/DeliveryMechanismRow.tsx
  frontend/src/components/periodicDataUpdates/FieldsToUpdate.tsx
  frontend/src/components/periodicDataUpdates/PeriodicDataUpdatesUpdatesList.tsx
  frontend/src/components/programs/CreateProgram/DetailsStep.tsx
  frontend/src/components/programs/CreateProgram/PartnersStep.tsx
  frontend/src/components/programs/CreateProgram/ProgramFieldSeriesStep.tsx
  frontend/src/components/programs/CreateProgram/ProgramStepper.tsx
  frontend/src/components/programs/CreateProgram/programValidationSchema.ts
  frontend/src/containers/pages/householdMembers/NewTemplatePage.tsx
  frontend/src/containers/pages/program/CreateProgramPage.tsx
  frontend/src/containers/pages/program/DuplicateProgramPage.tsx
  frontend/src/containers/pages/program/EditProgramPage.tsx
  frontend/src/shared/Formik/FormikSelectField/FormikSelectField.tsx
  frontend/src/shared/Formik/FormikTextField/FormikTextField.tsx
  frontend/src/shared/autocompletes/rest/AdminAreaAutocompleteMultipleRest.tsx
Labels: bug, frontend

#4122 Fix/pdu frontend bugs 3
  frontend/src/components/programs/CreateProgram/editProgramValidationSchema.ts
  frontend/src/containers/pages/program/EditProgramPage.tsx
Labels: bug, frontend

#4059 Selenium: Grievance tickets - module tests
  backend/selenium_tests/accountability/test_communication.py
  backend/selenium_tests/accountability/test_surveys.py
  backend/selenium_tests/drawer/test_drawer.py
  backend/selenium_tests/filters/test_filters.py
  backend/selenium_tests/grievance/feedback/test_feedback.py
  backend/selenium_tests/grievance/grievance_tickets/test_grievance_tickets.py
  backend/selenium_tests/helpers/document_example.png
  backend/selenium_tests/helpers/helper.py
  backend/selenium_tests/managerial_console/test_managerial_console.py
  backend/selenium_tests/page_object/admin_panel/admin_panel.py
  backend/selenium_tests/page_object/base_components.py
  backend/selenium_tests/page_object/grievance/details_grievance_page.py
  backend/selenium_tests/page_object/grievance/grievance_tickets.py
  backend/selenium_tests/page_object/grievance/new_feedback.py
  backend/selenium_tests/page_object/grievance/new_ticket.py
  backend/selenium_tests/page_object/programme_population/households_details.py
  backend/selenium_tests/payment_module/test_payment_module.py
  backend/selenium_tests/payment_verification/test_payment_verification.py
  backend/selenium_tests/people/test_people.py
  backend/selenium_tests/program_details/test_program_details.py
  backend/selenium_tests/program_log/test_program_log.py
  backend/selenium_tests/programme_management/test_programme_management.py
  backend/selenium_tests/programme_population/test_households.py
  backend/selenium_tests/programme_population/test_individuals.py
  backend/selenium_tests/programme_population/test_periodic_data_templates.py
  backend/selenium_tests/programme_population/test_periodic_data_update_upload.py
  backend/selenium_tests/programme_user/test_programme_user.py
  backend/selenium_tests/registration_data_import/test_registration_data_import.py
  backend/selenium_tests/targeting/test_targeting.py
  backend/selenium_tests/tools/tag_name_finder.py
  frontend/src/components/core/ActivityLogTable/ActivityLogTable.tsx
  frontend/src/components/core/ActivityLogTable/LogRow.tsx
  frontend/src/components/core/PageHeader.tsx
  frontend/src/components/grievances/Documentation/NewDocumentationFieldArray.tsx
  frontend/src/components/grievances/GrievancesTable/bulk/BulkBaseModal.tsx
  frontend/src/components/grievances/LookUps/LookUpHouseholdIndividual/LookUpHouseholdIndividualSelectionDetail.tsx
  frontend/src/components/grievances/LookUps/LookUpLinkedTickets/LookUpLinkedTicketsDisplay.tsx
  frontend/src/components/grievances/LookUps/LookUpPaymentRecord/LookUpPaymentRecordDisplay.tsx
  frontend/src/components/grievances/Notes/Notes.tsx
  frontend/src/components/grievances/RequestedIndividualDataChangeTable/individualDataRow.tsx
  frontend/src/components/paymentmodule/CreatePaymentPlan/CreatePaymentPlanHeader/__snapshots__/CreatePaymentPlanHeader.test.tsx.snap
  frontend/src/components/paymentmodule/CreateSetUpFsp/CreateSetUpFspHeader/__snapshots__/CreateSetUpFspHeader.test.tsx.snap
  frontend/src/components/paymentmodule/EditFsp/EditFspHeader/__snapshots__/EditFspHeader.test.tsx.snap
  frontend/src/components/paymentmodule/EditPaymentPlan/EditPaymentPlanHeader/__snapshots__/EditPaymentPlanHeader.test.tsx.snap
  frontend/src/components/paymentmodule/EditSetUpFsp/EditSetUpFspHeader/__snapshots__/EditSetUpFspHeader.test.tsx.snap
  frontend/src/components/paymentmodule/FspPlanDetails/FspHeader/__snapshots__/FspHeader.test.tsx.snap
  frontend/src/components/paymentmodulepeople/CreatePaymentPlan/CreatePaymentPlanHeader/__snapshots__/CreatePaymentPlanHeader.test.tsx.snap
  frontend/src/components/paymentmodulepeople/CreateSetUpFsp/CreateSetUpFspHeader/__snapshots__/CreateSetUpFspHeader.test.tsx.snap
  frontend/src/components/paymentmodulepeople/EditFsp/EditFspHeader/__snapshots__/EditFspHeader.test.tsx.snap
  frontend/src/components/paymentmodulepeople/EditPaymentPlan/EditPaymentPlanHeader/__snapshots__/EditPaymentPlanHeader.test.tsx.snap
  frontend/src/components/paymentmodulepeople/EditSetUpFsp/EditSetUpFspHeader/__snapshots__/EditSetUpFspHeader.test.tsx.snap
  frontend/src/components/paymentmodulepeople/FspPlanDetails/FspHeader/__snapshots__/FspHeader.test.tsx.snap
  frontend/src/containers/tables/population/HouseholdCompositionTable/HouseholdCompositionTable.tsx
  frontend/src/containers/tables/population/HouseholdCompositionTable/__snapshots__/HouseholdCompositionTable.test.tsx.snap
Labels: selenium

#4128 PDU - updates and fixes after stg testing
  backend/hct_mis_api/apps/core/models.py
  backend/hct_mis_api/apps/periodic_data_update/service/flexible_attribute_service.py
  backend/hct_mis_api/apps/periodic_data_update/service/periodic_data_update_import_service.py
  backend/hct_mis_api/apps/periodic_data_update/tests/test_models.py
  backend/hct_mis_api/apps/periodic_data_update/tests/test_periodic_data_update_import_service.py
  backend/hct_mis_api/apps/program/mutations.py
  backend/hct_mis_api/apps/program/schema.py
  backend/hct_mis_api/apps/program/tests/snapshots/snap_test_update_program.py
  backend/hct_mis_api/apps/program/tests/test_copy_program.py
  backend/hct_mis_api/apps/program/tests/test_update_program.py
  backend/hct_mis_api/apps/program/utils.py
  backend/selenium_tests/programme_management/test_programme_management.py
  frontend/fixtures/programs/fakeProgram.ts
  frontend/src/components/programs/CreateProgram/ProgramFieldSeriesStep.tsx
  frontend/src/components/programs/CreateProgram/ProgramStepper.tsx
  frontend/src/containers/pages/program/CreateProgramPage.tsx
  frontend/src/containers/pages/program/DuplicateProgramPage.tsx
  frontend/src/containers/pages/program/EditProgramPage.tsx
  frontend/src/testUtils/testUtils.tsx
Labels: backend, frontend

#4127 Prevent race condition on the Copy Program flow
  backend/hct_mis_api/apps/program/mutations.py
  backend/hct_mis_api/apps/program/tests/test_copy_program.py
  backend/hct_mis_api/apps/program/utils.py
Labels: backend

#4138 [211107] Populate null values for PDU fields with no value provided
  backend/hct_mis_api/api/endpoints/rdi/mixin.py
  backend/hct_mis_api/api/endpoints/rdi/push_people.py
  backend/hct_mis_api/apps/core/celery_tasks.py
  backend/hct_mis_api/apps/core/utils.py
  backend/hct_mis_api/apps/grievance/services/data_change/add_individual_service.py
  backend/hct_mis_api/apps/household/tests/snapshots/snap_test_individual_query.py
  backend/hct_mis_api/apps/household/tests/test_individual_query.py
  backend/hct_mis_api/apps/periodic_data_update/service/periodic_data_update_import_service.py
  backend/hct_mis_api/apps/periodic_data_update/tests/test_periodic_data_update_import_service.py
  backend/hct_mis_api/apps/periodic_data_update/utils.py
  backend/hct_mis_api/apps/program/celery_tasks.py
  backend/hct_mis_api/apps/program/mutations.py
  backend/hct_mis_api/apps/program/tests/test_update_program.py
  backend/hct_mis_api/apps/program/utils.py
  backend/hct_mis_api/apps/registration_datahub/tasks/rdi_kobo_create.py
  backend/hct_mis_api/apps/registration_datahub/tasks/rdi_xlsx_create.py
  backend/hct_mis_api/apps/registration_datahub/tasks/rdi_xlsx_people_create.py
  backend/hct_mis_api/aurora/services/sri_lanka_flex_registration_service.py
  backend/selenium_tests/programme_population/test_periodic_data_templates.py
  backend/selenium_tests/programme_population/test_periodic_data_update_upload.py
  backend/tests/apps/periodic_data_update/test_periodic_data_update_upload_views.py
Labels: backend

#4129 disable PDU tab if program does not have pdu fields
  frontend/src/__generated__/graphql.tsx
  frontend/src/apollo/queries/program/AllProgramsForChoices.ts
  frontend/src/components/periodicDataUpdates/PeriodicDataUpdatesTemplatesList.tsx
  frontend/src/containers/GlobalProgramSelect.tsx
  frontend/src/containers/pages/people/PeoplePage.tsx
  frontend/src/containers/pages/population/HouseholdMembersPage.tsx
  frontend/src/programContext.tsx
  frontend/src/utils/en.json
Labels: frontend

#4139 Final Optimisation Migration Script
  backend/hct_mis_api/one_time_scripts/program_cycle_data_migration.py
Labels: backend

#4142 Add link to admin
  backend/hct_mis_api/apps/program/api/serializers.py
  backend/hct_mis_api/apps/program/api/views.py
  backend/hct_mis_api/apps/program/models.py
  backend/hct_mis_api/apps/program/tests/test_program_cycle_rest_api.py
  frontend/src/api/programCycleApi.ts
  frontend/src/containers/pages/paymentmodule/ProgramCycle/ProgramCycleDetails/ProgramCycleDetailsHeader.tsx
  frontend/src/containers/tables/ProgramCycle/ProgramCycleTable.tsx
Labels: enhancement, backend, frontend

#4141 Make mandatory data_collecting_type in the program
  backend/hct_mis_api/api/endpoints/rdi/program.py
  backend/hct_mis_api/api/tests/test_program.py
  backend/hct_mis_api/apps/cash_assist_datahub/tests/test_pull_from_datahub.py
  backend/hct_mis_api/apps/payment/fixtures.py
  backend/hct_mis_api/apps/program/migrations/0050_migration.py
  backend/hct_mis_api/apps/program/models.py
  backend/hct_mis_api/one_time_scripts/delete_pplans_and_rdi.py
  backend/hct_mis_api/one_time_scripts/tests/test_delete_pplans_and_rdi.py
Labels: enhancement, backend

#4155 [212207] PDU - fix values of DECIMAL type not to be stored as string
  backend/hct_mis_api/apps/periodic_data_update/service/periodic_data_update_import_service.py
  backend/hct_mis_api/apps/periodic_data_update/tests/test_periodic_data_update_import_service.py
  backend/hct_mis_api/apps/registration_datahub/tasks/rdi_xlsx_create.py
Labels: backend

#4157 Selenium: Fix
  backend/selenium_tests/helpers/helper.py
  backend/selenium_tests/programme_management/test_programme_management.py
Labels: selenium

#4153 Fix targeting results
  backend/hct_mis_api/apps/targeting/services/targeting_stats_refresher.py
Labels: bug, backend

#4161 Fix E2E Targeting with PDU after Cycles merge
  backend/selenium_tests/programme_population/test_individuals.py
  backend/selenium_tests/targeting/test_targeting.py
Labels: backend

#4163 Make check-box "Pull Pictures" automatically checked when importing from Kobo
  frontend/src/components/rdi/create/kobo/CreateImportFromKoboForm.tsx
Labels: enhancement, frontend

#4148 [211951] Button to reindex program in admin, add indexing for enrolling to different program
  backend/hct_mis_api/apps/account/migrations/0073_migration.py
  backend/hct_mis_api/apps/account/migrations/0074_migration.py
  backend/hct_mis_api/apps/account/models.py
  backend/hct_mis_api/apps/household/celery_tasks.py
  backend/hct_mis_api/apps/household/tests/test_tasks.py
  backend/hct_mis_api/apps/program/admin.py
Labels: backend

#4150 Selenium: Programme Details
  backend/selenium_tests/grievance/grievance_tickets/test_grievance_tickets.py
  backend/selenium_tests/page_object/programme_details/programme_details.py
  backend/selenium_tests/payment_verification/test_payment_verification.py
  backend/selenium_tests/program_details/test_program_details.py
  backend/selenium_tests/programme_management/test_programme_management.py
  backend/selenium_tests/targeting/test_targeting.py
  frontend/src/containers/tables/ProgramCycle/DeleteProgramCycle.tsx
  frontend/src/containers/tables/ProgramCycle/EditProgramCycle.tsx
  frontend/src/containers/tables/ProgramCycle/NewProgramCycle/CreateProgramCycle.tsx
  frontend/src/containers/tables/ProgramCycle/ProgramCycleTable.tsx
Labels: selenium

#4165 Migrate PDU subtype: BOOLEAN -> BOOL
  backend/hct_mis_api/apps/core/migrations/0086_migration.py
  backend/selenium_tests/targeting/test_targeting.py
Labels: backend

#4140 DEDUP ENGINE - All Individuals should have RDI
  backend/hct_mis_api/apps/core/celery_tasks.py
  backend/hct_mis_api/apps/core/tests/test_edopomoga_tp_creation.py
  backend/hct_mis_api/apps/grievance/fixtures.py
  backend/hct_mis_api/apps/grievance/services/data_change/add_individual_service.py
  backend/hct_mis_api/apps/grievance/tests/snapshots/snap_test_grievance_query.py
  backend/hct_mis_api/apps/grievance/tests/test_approve_automatic_tickets.py
  backend/hct_mis_api/apps/grievance/tests/test_create_needs_adjudication_tickets.py
  backend/hct_mis_api/apps/grievance/tests/test_grievance_status_update.py
  backend/hct_mis_api/apps/household/admin/household.py
  backend/hct_mis_api/apps/household/celery_tasks.py
  backend/hct_mis_api/apps/household/migrations/0185_migration.py
  backend/hct_mis_api/apps/household/models.py
  backend/hct_mis_api/apps/household/tests/test_assign_individual_to_rdi.py
  backend/hct_mis_api/apps/household/tests/test_forms.py
  backend/hct_mis_api/apps/household/tests/test_tasks.py
  backend/hct_mis_api/apps/payment/fixtures.py
  backend/hct_mis_api/apps/program/celery_tasks.py
  backend/hct_mis_api/apps/program/mutations.py
  backend/hct_mis_api/apps/program/tests/test_program_query.py
  backend/hct_mis_api/apps/program/tests/test_program_utils.py
  backend/hct_mis_api/apps/program/utils.py
  backend/hct_mis_api/apps/registration_data/admin.py
  backend/hct_mis_api/apps/registration_data/migrations/0039_migration.py
  backend/hct_mis_api/apps/registration_data/models.py
  backend/selenium_tests/registration_data_import/test_registration_data_import.py
  frontend/data/schema.graphql
  frontend/src/__generated__/graphql.tsx
  frontend/src/components/dashboard/sections/TotalAmountTransferredSection/__snapshots__/TotalAmountTransferredSection.test.tsx.snap
  frontend/src/components/population/HouseholdDetails/__snapshots__/HouseholdDetails.test.tsx.snap
  frontend/src/containers/tables/payments/PaymentRecordTable/__snapshots__/PaymentRecordTable.test.tsx.snap
  frontend/src/containers/tables/payments/VerificationRecordsTable/__snapshots__/VerificationRecordsTable.test.tsx.snap
Labels: backend

#4168 Fix unstable test and other potentially unstable tests
  backend/hct_mis_api/apps/account/tests/test_partner_permissions.py
  backend/hct_mis_api/apps/geo/tests/test_signal_create_area.py
  backend/hct_mis_api/apps/grievance/tests/test_filter_grievance_by_cross_area.py
  backend/hct_mis_api/apps/program/tests/test_copy_program.py
  backend/hct_mis_api/apps/program/tests/test_create_program.py
  backend/hct_mis_api/apps/program/tests/test_signal_partner_access_change.py
  backend/hct_mis_api/apps/program/tests/test_signal_partner_full_area_access_flag.py
  backend/hct_mis_api/apps/program/tests/test_update_program.py
  backend/hct_mis_api/one_time_scripts/tests/test_migrate_partner_permissions_and_access.py
  backend/tests/apps/geo/test_area_views.py
Labels: backend

#4175 [205783] Fix copy targeting based on IDs
  backend/hct_mis_api/apps/targeting/mutations.py
  backend/hct_mis_api/apps/targeting/tests/snapshots/snap_test_copy_target_population_mutation.py
  backend/hct_mis_api/apps/targeting/tests/test_copy_target_population_mutation.py
Labels: backend

#4169 AB#212948-add permissions for PDU module frontend
  frontend/src/components/periodicDataUpdates/PeriodicDataUpdates.tsx
  frontend/src/components/periodicDataUpdates/PeriodicDataUpdatesTemplatesList.tsx
  frontend/src/components/periodicDataUpdates/PeriodicDataUpdatesUploadDialog.tsx
  frontend/src/config/permissions.ts
  frontend/src/containers/pages/population/HouseholdMembersPage.tsx
Labels: frontend
