Repository unicef/hope, pull requests merged in 2024-09, with the labels that each got.

#4181 [STG] Cycles fixes
  backend/hct_mis_api/apps/program/mutations.py
  backend/hct_mis_api/apps/program/tests/snapshots/snap_test_update_program.py
  backend/hct_mis_api/apps/program/tests/test_update_program.py
  backend/hct_mis_api/one_time_scripts/program_cycle_data_migration.py
Labels: bug, backend

#4188 Fix build schema after datahub removal
  backend/hct_mis_api/apps/registration_datahub/schema.py
  frontend/data/schema.graphql
  frontend/fixtures/grievances/fakeGrievanceTicket.ts
  frontend/fixtures/population/fakeIndividual.ts
  frontend/fixtures/registration/fakeImportedIndividualDetailedFragment.ts
  frontend/src/__generated__/graphql.tsx
Labels: bug, backend

#4186 Fix program size signals
  backend/hct_mis_api/apps/program/apps.py
Labels: bug, backend

#4189 Strip name in copy targeting
  backend/hct_mis_api/apps/targeting/mutations.py
  backend/hct_mis_api/apps/targeting/tests/test_copy_target_population_mutation.py
Labels: bug, backend

#4197 Selenium: Run e2e tests locally
  .github/workflows/ci.yml
  backend/hct_mis_api/config/settings.py
  backend/pdm.lock
  backend/pyproject.toml
  backend/selenium_tests/README.md
  backend/selenium_tests/conftest.py
  backend/selenium_tests/filters/test_filters.py
  backend/selenium_tests/grievance/grievance_tickets/test_grievance_tickets.py
  backend/selenium_tests/helpers/helper.py
  backend/selenium_tests/login_via_admin_panel/test_login.py
  backend/selenium_tests/programme_management/test_programme_management.py
  backend/selenium_tests/programme_population/test_periodic_data_templates.py
  backend/selenium_tests/programme_population/test_periodic_data_update_upload.py
  backend/selenium_tests/registration_data_import/test_registration_data_import.py
  compose.selenium.local.yml
  compose.selenium.yml
  local_selenium_env.sh
Labels: selenium

#4192 RDI - Households size harmonize size calculation when RDI is in review / merge scheduled state
  backend/hct_mis_api/apps/program/utils.py
  backend/hct_mis_api/apps/registration_data/models.py
  backend/hct_mis_api/apps/registration_data/tests/test_models.py
  backend/hct_mis_api/apps/registration_datahub/tasks/rdi_kobo_create.py
  backend/hct_mis_api/apps/registration_datahub/tasks/rdi_program_population_create.py
  backend/hct_mis_api/apps/registration_datahub/tasks/rdi_xlsx_create.py
Labels: backend

#4196 Prevent to press the next button without choosing category.
  frontend/src/components/grievances/CreateGrievance/Selection/Selection.tsx
  frontend/src/components/grievances/utils/validateGrievance.ts
  frontend/src/containers/pages/accountability/feedback/CreateFeedbackPage.tsx
Labels: bug, frontend

#4201 [STG] Fix cycle release blockers
  backend/hct_mis_api/apps/program/admin.py
  backend/hct_mis_api/apps/program/api/caches.py
  backend/hct_mis_api/apps/program/api/serializers.py
  backend/hct_mis_api/apps/program/api/views.py
  backend/hct_mis_api/apps/program/fixtures/data-cypress.json
  backend/hct_mis_api/apps/program/fixtures/data.json
  backend/hct_mis_api/apps/program/migrations/0052_migration.py
  backend/hct_mis_api/apps/program/models.py
  backend/hct_mis_api/apps/program/mutations.py
  backend/hct_mis_api/apps/program/schema.py
  backend/hct_mis_api/apps/program/tests/snapshots/snap_test_program_query.py
  backend/hct_mis_api/apps/program/tests/snapshots/snap_test_update_program.py
  backend/hct_mis_api/apps/program/tests/test_program_cycle_rest_api.py
  backend/hct_mis_api/apps/program/tests/test_program_query.py
  backend/hct_mis_api/apps/program/tests/test_update_program.py
  backend/hct_mis_api/apps/program/validators.py
  frontend/data/schema.graphql
  frontend/src/__generated__/graphql.tsx
  frontend/src/api/api.ts
  frontend/src/apollo/fragments/ProgramDetailsFragment.ts
  frontend/src/components/paymentmodule/CreatePaymentPlan/CreatePaymentPlanHeader/CreatePaymentPlanHeader.tsx
  frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsResults/PaymentPlanDetailsResults.tsx
  frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsResults/ResultsForHouseholds.tsx
  frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsResults/ResultsForPeople.tsx
  frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsResults/Styles.tsx
  frontend/src/components/programs/CreateProgram/editProgramValidationSchema.ts
  frontend/src/components/programs/CreateProgram/programValidationSchema.ts
  frontend/src/containers/forms/ProgramForm.tsx
  frontend/src/containers/pages/paymentmodule/PaymentDetailsPage.tsx
  frontend/src/containers/pages/paymentmodulepeople/PeoplePaymentDetailsPage.tsx
  frontend/src/containers/pages/program/CreateProgramPage.tsx
  frontend/src/containers/pages/program/EditProgramPage.tsx
  frontend/src/containers/pages/program/ProgramDetailsPage.tsx
  frontend/src/containers/routers/PaymentModuleRoutes.tsx
  frontend/src/containers/routers/PaymentVerificationRoutes.tsx
  frontend/src/containers/tables/ProgramCycle/EditProgramCycle.tsx
  frontend/src/containers/tables/ProgramCycle/NewProgramCycle/CreateProgramCycle.tsx
  frontend/src/containers/tables/ProgramCycle/NewProgramCycle/UpdateProgramCycle.tsx
  frontend/src/containers/tables/ProgramCycle/ProgramCycleTable.tsx
Labels: backend, frontend

#4205 Change program to programme
  backend/selenium_tests/drawer/test_drawer.py
  backend/selenium_tests/filters/test_filters.py
  backend/selenium_tests/page_object/base_components.py
  backend/selenium_tests/page_object/programme_details/programme_details.py
  backend/selenium_tests/page_object/programme_population/periodic_data_update_templates.py
  backend/selenium_tests/page_object/programme_population/periodic_data_update_uploads.py
  backend/selenium_tests/targeting/test_targeting.py
  frontend/src/components/accountability/Feedback/FeedbackDetailsToolbar.tsx
  frontend/src/components/accountability/Surveys/CreateSurveyMenu.tsx
  frontend/src/components/core/Drawer/Drawer.tsx
  frontend/src/components/core/Drawer/DrawerItems.tsx
  frontend/src/components/core/Drawer/menuItems.tsx
  frontend/src/components/programs/CreateProgram/DeleteProgramPartner.tsx
  frontend/src/components/programs/ProgramDetails/ProgramDetails.tsx
  frontend/src/components/programs/ProgramDetails/__snapshots__/ProgramDetails.test.tsx.snap
  frontend/src/containers/GlobalProgramSelect.tsx
  frontend/src/containers/dialogs/targetPopulation/DuplicateTargetPopulation.tsx
  frontend/src/containers/pages/accountability/communication/CommunicationPage.tsx
  frontend/src/containers/pages/accountability/feedback/FeedbackPage.tsx
  frontend/src/containers/pages/accountability/surveys/SurveyDetailsPage.tsx
  frontend/src/containers/pages/grievances/GrievancesTablePage.tsx
  frontend/src/containers/pages/population/PopulationHouseholdDetailsPage.tsx
  frontend/src/containers/pages/targeting/CreateTargetPopulationPage.tsx
  frontend/src/containers/tables/ProgrammesTable/ProgrammesFilter.tsx
  frontend/src/containers/tables/ProgrammesTable/ProgrammesHeadCells.tsx
  frontend/src/containers/tables/ProgrammesTable/__snapshots__/ProgrammesTable.test.tsx.snap
Labels: frontend

#4214 Targeting by PDU for SW programs
  backend/hct_mis_api/apps/targeting/graphql_types.py
  backend/hct_mis_api/apps/targeting/migrations/0047_migration.py
  backend/hct_mis_api/apps/targeting/models.py
  backend/hct_mis_api/apps/targeting/services/targeting_service.py
  backend/hct_mis_api/apps/targeting/tests/snapshots/snap_test_create_target_population_mutation.py
  backend/hct_mis_api/apps/targeting/tests/test_create_target_population_mutation.py
  backend/selenium_tests/page_object/targeting/targeting_create.py
  backend/selenium_tests/page_object/targeting/targeting_details.py
  backend/selenium_tests/targeting/test_targeting.py
  frontend/data/schema.graphql
  frontend/src/__generated__/graphql.tsx
  frontend/src/apollo/fragments/TargetPopulationFragments.ts
Labels: backend

#4215 Selenium: Fix unstable tests
  backend/selenium_tests/page_object/programme_management/programme_management.py
Labels: selenium

#4185 Update RDI summary after creation Needs Adjudication tickets
  backend/hct_mis_api/apps/grievance/services/needs_adjudication_ticket_services.py
  backend/hct_mis_api/apps/grievance/tasks/deduplicate_and_check_sanctions.py
  backend/hct_mis_api/apps/registration_data/models.py
  backend/hct_mis_api/apps/registration_datahub/celery_tasks.py
  backend/hct_mis_api/apps/registration_datahub/tasks/rdi_merge.py
  backend/hct_mis_api/apps/registration_datahub/tests/test_handling_documents_duplicates.py
Labels: backend

#4217 Clear cache on change business area
  backend/hct_mis_api/apps/grievance/tests/test_grievance_create_complaint_ticket.py
  frontend/src/containers/BusinessAreaSelect.tsx
Labels: bug, frontend

#4216 Unable to create Payment Related Complaint ticket
  backend/selenium_tests/grievance/grievance_tickets/test_grievance_tickets.py
  frontend/src/components/grievances/utils/validationSchema.ts
Labels: bug, frontend

#4225 Clear cache on change business area
  frontend/src/containers/BusinessAreaSelect.tsx
Labels: bug, frontend

#4226 Fix program size signals
  backend/hct_mis_api/apps/program/apps.py
Labels: bug

#4222 [214622] Fix PDU Template creation based on filters
  backend/hct_mis_api/apps/periodic_data_update/celery_tasks.py
  backend/hct_mis_api/apps/periodic_data_update/models.py
  backend/hct_mis_api/apps/periodic_data_update/service/periodic_data_update_export_template_service.py
  backend/hct_mis_api/apps/periodic_data_update/tests/test_periodic_data_update_export_template_service.py
  backend/hct_mis_api/apps/program/tests/snapshots/snap_test_update_program.py
  backend/hct_mis_api/apps/program/tests/test_program_cycle_rest_api.py
  backend/hct_mis_api/apps/program/tests/test_update_program.py
  backend/hct_mis_api/apps/targeting/tests/snapshots/snap_test_target_query.py
  backend/hct_mis_api/apps/targeting/tests/test_target_query.py
  backend/tests/apps/periodic_data_update/test_periodic_data_update_template_views.py
  backend/tests/apps/periodic_data_update/test_remove_old_pdu_template_files_task.py
  frontend/src/__generated__/graphql.tsx
  frontend/src/containers/pages/householdMembers/NewTemplatePage.tsx
Labels: backend

#4227 Selenium: Fix unstable tests
  backend/selenium_tests/grievance/grievance_tickets/test_grievance_tickets.py
  backend/selenium_tests/page_object/grievance/details_grievance_page.py
  backend/selenium_tests/page_object/programme_population/periodic_data_update_uploads.py
  backend/selenium_tests/people/test_people_periodic_data_update.py
  backend/selenium_tests/programme_population/test_periodic_data_update_upload.py
Labels: selenium

#4237 [STG]-pdu bugs
  backend/hct_mis_api/apps/periodic_data_update/celery_tasks.py
  backend/hct_mis_api/apps/periodic_data_update/migrations/0007_migration.py
  backend/tests/apps/periodic_data_update/test_remove_old_pdu_template_files_task.py
  frontend/src/components/targeting/SubField.tsx
  frontend/src/containers/pages/program/EditProgramPage.tsx
  frontend/src/containers/routers/PaymentModuleRoutes.tsx
Labels: bug, backend, frontend

#4245 [HOTFIX] 214893 Entitlement export add national id
  backend/hct_mis_api/apps/payment/models.py
  backend/hct_mis_api/apps/payment/tests/test_file/pp_payment_list_invalid.xlsx
  backend/hct_mis_api/apps/payment/tests/test_file/pp_payment_list_unexpected_column.xlsx
  backend/hct_mis_api/apps/payment/tests/test_file/pp_payment_list_valid.xlsx
  backend/hct_mis_api/apps/payment/tests/test_import_export_payment_plan_payment_list.py
  backend/hct_mis_api/apps/payment/xlsx/xlsx_payment_plan_base_service.py
  backend/hct_mis_api/apps/payment/xlsx/xlsx_payment_plan_import_service.py
Labels: hotfix

#4246 [AB#215149]-fix table cells alignment + change files names for consistency
  frontend/src/containers/pages/paymentmodule/ProgramCycle/ProgramCyclePage.tsx
  frontend/src/containers/pages/program/ProgramDetailsPage.tsx
  frontend/src/containers/tables/ProgramCycle/ProgramCyclesTableProgramDetails.tsx
  frontend/src/containers/tables/ProgramCyclesTablePaymentModule/HeadCells.ts
  frontend/src/containers/tables/ProgramCyclesTablePaymentModule/ProgramCyclesFilters.tsx
  frontend/src/containers/tables/ProgramCyclesTablePaymentModule/ProgramCyclesTablePaymentModule.tsx
Labels: bug, frontend

#4208 Refactor payment plan exclude beneficiaries for people
  backend/hct_mis_api/apps/payment/celery_tasks.py
  backend/hct_mis_api/apps/payment/models.py
  backend/hct_mis_api/apps/payment/mutations.py
  backend/hct_mis_api/apps/payment/schema.py
  backend/hct_mis_api/apps/payment/tests/snapshots/snap_test_all_payment_plan_queries.py
  backend/hct_mis_api/apps/payment/tests/test_all_payment_plan_queries.py
  backend/hct_mis_api/apps/payment/tests/test_exclude_households.py
  frontend/data/schema.graphql
  frontend/src/__generated__/graphql.tsx
  frontend/src/apollo/mutations/paymentmodule/ExcludeHouseholdsPaymentPlan.ts
  frontend/src/apollo/queries/paymentmodule/PaymentPlan.ts
  frontend/src/components/grievances/NeedsAdjudication/BiometricsResults.tsx
  frontend/src/components/paymentmodulepeople/PaymentPlanDetails/ExcludeSection/ExcludeSection.tsx
  frontend/src/containers/pages/paymentmodulepeople/PeoplePaymentPlanDetailsPage.tsx
Labels: backend, frontend

#4261 208491: RDI - Rename label to 'Total number of registered Individuals'
  src/frontend/src/components/rdi/details/RegistrationDetails/RegistrationDetails.tsx
  src/frontend/src/components/rdi/details/RegistrationDetails/__snapshots__/RegistrationDetails.test.tsx.snap
  tests/selenium/page_object/registration_data_import/rdi_details_page.py
  tests/selenium/page_object/targeting/targeting_create.py
  tests/selenium/registration_data_import/test_registration_data_import.py
Labels: frontend

#4268 Fix e2e
  tests/selenium/page_object/targeting/targeting_create.py
  tests/selenium/targeting/test_targeting.py
Labels: backend
