Repository unicef/hope, pull requests merged in 2024-06, with the labels that each got.

#3930 [203070]-change sanction list flag text based on dct type in targeting
  frontend/src/components/targeting/EditTargetPopulation/EditTargetPopulation.tsx
  frontend/src/components/targeting/TargetingCriteria/TargetingCriteria.tsx
  frontend/src/containers/pages/targeting/CreateTargetPopulationPage.tsx
Labels: bug, frontend

#3929 [200987] Add 'Admin Area 1' within available filters
  backend/hct_mis_api/apps/grievance/filters.py
  backend/hct_mis_api/apps/household/filters.py
  backend/selenium_tests/page_object/filters.py
  backend/selenium_tests/page_object/grievance/grievance_tickets.py
  frontend/data/schema.graphql
  frontend/src/__generated__/graphql.tsx
  frontend/src/apollo/queries/grievances/AllGrievanceTicket.ts
  frontend/src/apollo/queries/population/AllHouseholdsForPopulationTable.ts
  frontend/src/apollo/queries/population/AllIndividualsForPopulationTable.ts
  frontend/src/components/accountability/Communication/LookUpsCommunication/LookUpHouseholdFiltersCommunication.tsx
  frontend/src/components/dashboard/DashboardFilters.tsx
  frontend/src/components/grievances/GrievancesTable/GrievancesFilters.tsx
  frontend/src/components/grievances/GrievancesTable/GrievancesTable.tsx
  frontend/src/components/grievances/LookUps/LookUpHouseholdIndividual/LookUpHouseholdIndividualSelectionDetail.tsx
  frontend/src/components/grievances/LookUps/LookUpHouseholdTable/LookUpHouseholdTable.tsx
  frontend/src/components/grievances/LookUps/LookUpLinkedTicketsTable/LookUpLinkedTicketsFilters.tsx
  frontend/src/components/people/PeopleFilter.tsx
  frontend/src/components/population/HouseholdFilter.tsx
  frontend/src/components/population/IndividualsFilter.tsx
  frontend/src/containers/pages/grievances/GrievancesTablePage.tsx
  frontend/src/containers/pages/people/PeoplePage.tsx
  frontend/src/containers/pages/population/PopulationHouseholdPage.tsx
  frontend/src/containers/tables/people/PeopleListTable/PeopleListTable.tsx
  frontend/src/containers/tables/population/HouseholdTable/HouseholdTable.tsx
  frontend/src/shared/autocompletes/AdminAreaAutocomplete.tsx
Labels: enhancement, backend, frontend

#3928 PaymentPlan xlsx per fsp: add individual id column
  backend/hct_mis_api/apps/payment/migrations/0131_migration.py
  backend/hct_mis_api/apps/payment/models.py
  backend/hct_mis_api/apps/payment/tests/test_import_export_payment_plan_payment_list.py
  backend/hct_mis_api/apps/payment/tests/test_models.py
  backend/hct_mis_api/apps/payment/tests/test_payment_plan_reconciliation.py
  backend/hct_mis_api/apps/payment/xlsx/xlsx_payment_plan_export_per_fsp_service.py
  backend/hct_mis_api/apps/registration_datahub/validators.py
Labels: backend

#3931 [202742] Payment list is not populated with some fields
  backend/hct_mis_api/apps/household/models.py
  backend/hct_mis_api/apps/household/tests/test_models.py
  backend/hct_mis_api/apps/payment/tests/test_import_export_payment_plan_payment_list.py
  backend/hct_mis_api/apps/payment/xlsx/xlsx_payment_plan_export_per_fsp_service.py
Labels: bug, hotfix, backend

#3937 [198870]-Fix/people fsp auth code
  frontend/src/containers/tables/paymentmodule/PaymentsTable/PaymentsTableHeadCells.tsx
  frontend/src/containers/tables/paymentmodulePeople/PeoplePaymentsTable/PeoplePaymentsTableHeadCells.tsx
  frontend/src/containers/tables/paymentmodulePeople/PeoplePaymentsTable/PeoplePaymentsTableRow.tsx
Labels: bug, frontend

#3938 People details: Not showing admin3/4 when using people template
  frontend/src/__generated__/graphql.tsx
  frontend/src/apollo/fragments/IndividualFragments.ts
Labels: frontend

#3942 [203395] Remove limit for payment plans list in Managerial Console
  frontend/src/api/paymentModuleApi.ts
Labels: frontend

#3943 [203434] Fix url in grievance notification
  backend/hct_mis_api/apps/grievance/notifications.py
Labels: backend

#3939 [200867] Payment Module - Label for delivery mechanism is corrupted
  frontend/src/components/paymentmodule/PaymentPlanDetails/FspSection/VolumeByDeliveryMechanismSection/VolumeByDeliveryMechanismSection.tsx
  frontend/src/components/paymentmodulepeople/PaymentPlanDetails/FspSection/VolumeByDeliveryMechanismSection/VolumeByDeliveryMechanismSection.tsx
Labels: frontend

#3948 fix checkbox
  frontend/src/components/targeting/TargetingCriteria/TargetingCriteria.tsx
Labels: bug, frontend

#3950 🔥hotfix [203270] - access denied in create/edit payment verification dialogs
  frontend/src/components/payments/CreateVerificationPlan.tsx
  frontend/src/components/payments/EditVerificationPlan.tsx
  frontend/src/components/payments/RapidProFlowsLoader.tsx
  frontend/src/components/payments/VerificationPlanActions.tsx
  frontend/src/components/rdi/create/xlsx/CreateImportFromXlsxForm.tsx
  frontend/src/containers/pages/payments/CashPlanVerificationDetailsPage.tsx
  frontend/src/containers/pages/payments/PaymentPlanVerificationDetailsPage.tsx
Labels: hotfix, frontend

#3958 [203821, 203393]- fix rapid pro flows not showing up in create/ edit verification, wrong alert in Grievance
  frontend/src/components/grievances/GrievanceDetailsToolbar.tsx
  frontend/src/components/payments/CreateVerificationPlan.tsx
  frontend/src/components/payments/EditVerificationPlan.tsx
Labels: bug, frontend

#3957 All Programs query optimization
  backend/hct_mis_api/apps/core/schema.py
  backend/hct_mis_api/apps/program/models.py
  backend/hct_mis_api/apps/program/schema.py
  backend/hct_mis_api/apps/program/tests/snapshots/snap_test_all_programs_query.py
  backend/hct_mis_api/apps/program/tests/test_all_programs_query.py
  frontend/data/schema.graphql
  frontend/src/__generated__/graphql.tsx
Labels: backend

#3966 [STG] Fix RDI xlsx template people fields
  backend/hct_mis_api/apps/registration_datahub/template_generator.py
Labels: backend

#3955 Fix AutoCompleteFilter.choices for SoftDeletableModel
  backend/hct_mis_api/apps/core/utils.py
  backend/hct_mis_api/apps/household/admin/document.py
  backend/hct_mis_api/apps/targeting/admin.py
  backend/hct_mis_api/apps/targeting/tests/test_admin.py
Labels: backend

#3946 [202642] Disability is not populated systematically
  backend/hct_mis_api/apps/household/models.py
  backend/hct_mis_api/one_time_scripts/fix_disability_fields.py
  backend/hct_mis_api/one_time_scripts/tests/test_fix_disability_fields.py
Labels: bug, backend

#3971 [STG] // RDI People Fix validation for AdminAreas
  backend/hct_mis_api/apps/registration_datahub/tests/test_file/rdi_people_test.xlsx
  backend/hct_mis_api/apps/registration_datahub/validators.py
Labels: backend

#3962 [204129] Do not allow dct compatibility between different types
  backend/hct_mis_api/apps/core/apps.py
  backend/hct_mis_api/apps/core/forms.py
  backend/hct_mis_api/apps/core/models.py
  backend/hct_mis_api/apps/core/signals.py
  backend/hct_mis_api/apps/core/tests/test_admin.py
  backend/hct_mis_api/apps/core/tests/test_data_collecting_type_validation.py
Labels: backend

#3974 [200869] KOBO - issuing country and document number are not required
  backend/hct_mis_api/apps/registration_datahub/tasks/rdi_kobo_create.py
Labels: backend

#3959 [201902] Introduce new unique field Programme registration id
  backend/hct_mis_api/apps/core/base_test_case.py
  backend/hct_mis_api/apps/core/field_attributes/core_fields_attributes.py
  backend/hct_mis_api/apps/grievance/filters.py
  backend/hct_mis_api/apps/grievance/tests/test_filter_grievance_by_cross_area.py
  backend/hct_mis_api/apps/household/documents.py
  backend/hct_mis_api/apps/household/filters.py
  backend/hct_mis_api/apps/household/migrations/0176_migration.py
  backend/hct_mis_api/apps/household/models.py
  backend/hct_mis_api/apps/household/schema.py
  backend/hct_mis_api/apps/household/tests/snapshots/snap_test_household_registration_id.py
  backend/hct_mis_api/apps/household/tests/test_household_registration_id.py
  backend/hct_mis_api/apps/registration_datahub/tasks/rdi_merge.py
  backend/hct_mis_api/apps/registration_datahub/tests/test_rdi_merge.py
  frontend/data/schema.graphql
  frontend/src/__generated__/graphql.tsx
  frontend/src/apollo/fragments/HouseholdFragments.ts
  frontend/src/containers/pages/population/PopulationHouseholdDetailsPage.tsx
Labels: enhancement, backend

#3975 [200869] stg - issuing country and document number is not required
  backend/hct_mis_api/apps/registration_datahub/tasks/rdi_kobo_create.py
Labels: backend

#3973 [203897] Fix documents uniqueness validation in Grievance tickets flow
  backend/hct_mis_api/apps/grievance/services/data_change/utils.py
  backend/hct_mis_api/apps/grievance/tests/services/data_change/test_add_individual_service.py
  backend/hct_mis_api/apps/grievance/tests/services/data_change/test_update_individual_data_service.py
  backend/hct_mis_api/apps/household/tests/test_models.py
Labels: backend

#3968 add allow DM validation errors in createKoboForm
  frontend/src/components/rdi/create/kobo/CreateImportFromKoboForm.tsx
Labels: frontend

#3972 [203070]-fix labels targeting sanction screen flag
  frontend/src/components/targeting/EditTargetPopulation/EditTargetPopulation.tsx
  frontend/src/components/targeting/TargetingCriteria/TargetingCriteria.tsx
  frontend/src/containers/pages/targeting/CreateTargetPopulationPage.tsx
  frontend/src/shared/Formik/FormikCheckboxField/FormikCheckboxField.tsx
  frontend/src/utils/en.json
Labels: bug, frontend

#3976 [203665]-It is possible to add empty rule during Targeting creation
  frontend/src/containers/forms/TargetCriteriaForm.tsx
Labels: bug, frontend

#3965 [203819] Remove obsolete fields
  backend/hct_mis_api/api/endpoints/rdi/push_people.py
  backend/hct_mis_api/api/endpoints/rdi/upload.py
  backend/hct_mis_api/apps/household/filters.py
  backend/hct_mis_api/apps/household/fixtures/data-cypress.json
  backend/hct_mis_api/apps/household/fixtures/data.json
  backend/hct_mis_api/apps/household/migrations/0177_migration.py
  backend/hct_mis_api/apps/household/models.py
  backend/hct_mis_api/apps/household/views.py
  backend/hct_mis_api/apps/mis_datahub/tests/test_send_tp_to_datahub.py
  backend/hct_mis_api/apps/registration_datahub/fixtures/data-cypress.json
  backend/hct_mis_api/apps/registration_datahub/fixtures/data.json
  backend/hct_mis_api/apps/registration_datahub/management/commands/fix_kobo_asset_id_from_flex_rdi.py
  backend/hct_mis_api/apps/registration_datahub/migrations/0114_migration.py
  backend/hct_mis_api/apps/registration_datahub/models.py
  backend/hct_mis_api/apps/registration_datahub/tasks/rdi_kobo_create.py
  backend/hct_mis_api/apps/registration_datahub/tasks/rdi_merge.py
  backend/hct_mis_api/apps/registration_datahub/tests/test_rdi_create.py
  backend/hct_mis_api/apps/registration_datahub/tests/test_rdi_merge.py
  backend/hct_mis_api/apps/reporting/tests/test_report_service.py
  backend/hct_mis_api/one_time_scripts/fix_kobo_imported_hh_detail_id.py
  backend/hct_mis_api/one_time_scripts/populate_household_individual_detail_id.py
  backend/hct_mis_api/one_time_scripts/sync_representations.py
  backend/hct_mis_api/one_time_scripts/tests/test_fix_kobo_imported_hh_detail_id.py
  frontend/data/schema.graphql
  frontend/fixtures/registration/fakeApolloAllImportedHouseholds.ts
  frontend/src/__generated__/graphql.tsx
  frontend/src/apollo/fragments/RegistrationFragments.ts
  frontend/src/components/rdi/details/households/RegistrationDetails.tsx
  frontend/src/containers/pages/rdi/RegistrationHouseholdDetailsPage.tsx
Labels: enhancement, backend, frontend

#3981 Fix problem with dates in tests: assert '01 Jul 2024' in '1 Jul 2024'
  backend/selenium_tests/payment_module/test_payment_module.py
Labels: selenium

#3983 Set concurrency group for CI pipeline
  .github/workflows/ci.yml
Labels: devops

#3980 Grievance Dashboard - Smoke tests
  backend/selenium_tests/conftest.py
  backend/selenium_tests/grievance/grievance_dashboard/test_grievance_dashboard.py
  backend/selenium_tests/helpers/fixtures.py
  backend/selenium_tests/page_object/grievance/grievance_dashboard.py
  frontend/src/components/grievances/GrievancesDashboard/GrievanceDashboardCard.tsx
Labels: selenium

#3979 [203641] Order by "created_by" based on first name instead of deafult
  backend/hct_mis_api/apps/accountability/filters.py
  backend/hct_mis_api/apps/payment/filters.py
  backend/hct_mis_api/apps/targeting/filters.py
  backend/hct_mis_api/apps/targeting/tests/snapshots/snap_test_target_query.py
  backend/hct_mis_api/apps/targeting/tests/test_target_query.py
Labels: backend

#3989 Fix program tests
  backend/hct_mis_api/apps/account/schema.py
  backend/hct_mis_api/apps/program/schema.py
  backend/hct_mis_api/apps/program/tests/snapshots/snap_test_copy_program.py
  backend/hct_mis_api/apps/program/tests/snapshots/snap_test_create_program.py
  backend/hct_mis_api/apps/program/tests/snapshots/snap_test_update_program.py
Labels: bug, backend

#3993 Skip failing test
  backend/hct_mis_api/apps/registration_datahub/tests/test_xlsx_upload_validators_methods.py
Labels: bug, backend
