Repository unicef/hope, pull requests merged in 2024-07, with the labels that each got.

#3986 Selenium: Payment Verification - Smoke Tests
  backend/hct_mis_api/apps/payment/fixtures.py
  backend/selenium_tests/conftest.py
  backend/selenium_tests/page_object/payment_verification/payment_verification.py
  backend/selenium_tests/page_object/payment_verification/payment_verification_details.py
  backend/selenium_tests/page_object/payment_verification/pv_details_page.py
  backend/selenium_tests/payment_verification/test_payment_verification.py
  frontend/src/components/payments/EditVerificationPlan.tsx
Labels: selenium

#3996 Selenium Accountability Communication - Smoke tests
  backend/selenium_tests/accountability/test_communication.py
  backend/selenium_tests/conftest.py
  backend/selenium_tests/page_object/accountability/communication.py
  backend/selenium_tests/page_object/accountability/comunication_details.py
  frontend/src/components/accountability/Communication/CommunicationMessageDetails.tsx
  frontend/src/components/accountability/Communication/LookUpsCommunication/LookUpSelectionCommunication.tsx
  frontend/src/components/accountability/Surveys/LookUpsSurveys/LookUpSelectionSurveys.tsx
  frontend/src/containers/pages/accountability/communication/CreateCommunicationPage.tsx
  frontend/src/containers/pages/accountability/surveys/CreateSurveyPage.tsx
Labels: selenium

#3982 Selenium: Country Dashboard - Smoke tests
  backend/selenium_tests/conftest.py
  backend/selenium_tests/country_dashboard/test_country_dashboard.py
  backend/selenium_tests/page_object/country_dashboard/country_dashboard.py
  frontend/src/components/dashboard/sections/GrievancesSection/GrievancesSection.tsx
  frontend/src/components/dashboard/sections/GrievancesSection/__snapshots__/GrievancesSection.test.tsx.snap
  frontend/src/components/dashboard/sections/TotalAmountTransferredSection/TotalAmountTransferredSection.tsx
  frontend/src/components/dashboard/sections/TotalAmountTransferredSection/__snapshots__/TotalAmountTransferredSection.test.tsx.snap
  frontend/src/components/dashboard/sections/TotalNumberOfChildrenReachedSection/TotalNumberOfChildrenReachedSection.tsx
  frontend/src/components/dashboard/sections/TotalNumberOfChildrenReachedSection/__snapshots__/TotalNumberOfChildrenReachedSection.test.tsx.snap
  frontend/src/components/dashboard/sections/TotalNumberOfHouseholdsReachedSection/TotalNumberOfHouseholdsReachedSection.tsx
  frontend/src/components/dashboard/sections/TotalNumberOfHouseholdsReachedSection/__snapshots__/TotalNumberOfHouseholdsReachedSection.test.tsx.snap
  frontend/src/components/dashboard/sections/TotalNumberOfIndividualsReachedSection/TotalNumberOfIndividualsReachedSection.tsx
  frontend/src/components/dashboard/sections/TotalNumberOfIndividualsReachedSection/__snapshots__/TotalNumberOfIndividualsReachedSection.test.tsx.snap
  frontend/src/components/dashboard/sections/TotalNumberOfPeopleReachedSection/TotalNumberOfPeopleReachedSection.tsx
  frontend/src/containers/tables/ReportingTable/__snapshots__/ReportingTable.test.tsx.snap
  frontend/src/utils/utils.ts
Labels: selenium

#4000 Selenium: Programme Users - Smoke tests
  backend/selenium_tests/conftest.py
  backend/selenium_tests/page_object/programme_users/programme_users.py
  backend/selenium_tests/programme_user/test_programme_user.py
  frontend/src/containers/tables/UsersTable/UsersTableRow.tsx
Labels: selenium

#4001 Selenium: Program Log - Smoke tests
  backend/selenium_tests/conftest.py
  backend/selenium_tests/page_object/base_components.py
  backend/selenium_tests/page_object/program_log/payment_log.py
  backend/selenium_tests/page_object/programme_details/programme_details.py
  backend/selenium_tests/program_log/test_program_log.py
  frontend/src/components/core/ActivityLogTable/ActivityLogTable.tsx
  frontend/src/components/core/ActivityLogTable/LogRow.tsx
  frontend/src/containers/tables/MainActivityLogTable/MainActivityLogTable.tsx
  frontend/src/containers/tables/MainActivityLogTable/MainActivityLogTableRow.tsx
Labels: selenium

#4002 [203133] Fix create tp with not existing hh ids
  backend/hct_mis_api/apps/targeting/mutations.py
  backend/hct_mis_api/apps/targeting/tests/snapshots/snap_test_create_target_population_mutation.py
  backend/hct_mis_api/apps/targeting/tests/test_create_target_population_mutation.py
  backend/hct_mis_api/apps/targeting/tests/test_targeting_validators.py
  backend/hct_mis_api/apps/targeting/validators.py
Labels: bug, backend

#4008 Selenium: Payment Verification - happy path
  backend/selenium_tests/conftest.py
  backend/selenium_tests/page_object/base_components.py
  backend/selenium_tests/page_object/payment_verification/payment_record.py
  backend/selenium_tests/page_object/payment_verification/payment_verification_details.py
  backend/selenium_tests/payment_verification/test_payment_verification.py
  frontend/src/components/core/BreadCrumbs/BreadCrumbs.tsx
  frontend/src/components/core/PageHeader.tsx
  frontend/src/components/paymentmodule/CreatePaymentPlan/CreatePaymentPlanHeader/__snapshots__/CreatePaymentPlanHeader.test.tsx.snap
  frontend/src/components/paymentmodule/CreateSetUpFsp/CreateSetUpFspHeader/__snapshots__/CreateSetUpFspHeader.test.tsx.snap
  frontend/src/components/paymentmodule/EditFsp/EditFspHeader/__snapshots__/EditFspHeader.test.tsx.snap
  frontend/src/components/paymentmodule/EditPaymentPlan/EditPaymentPlanHeader/__snapshots__/EditPaymentPlanHeader.test.tsx.snap
  frontend/src/components/paymentmodule/FspPlanDetails/FspHeader/__snapshots__/FspHeader.test.tsx.snap
  frontend/src/components/paymentmodulepeople/CreatePaymentPlan/CreatePaymentPlanHeader/__snapshots__/CreatePaymentPlanHeader.test.tsx.snap
  frontend/src/components/paymentmodulepeople/CreateSetUpFsp/CreateSetUpFspHeader/__snapshots__/CreateSetUpFspHeader.test.tsx.snap
  frontend/src/components/paymentmodulepeople/EditFsp/EditFspHeader/__snapshots__/EditFspHeader.test.tsx.snap
  frontend/src/components/paymentmodulepeople/EditPaymentPlan/EditPaymentPlanHeader/__snapshots__/EditPaymentPlanHeader.test.tsx.snap
  frontend/src/components/paymentmodulepeople/FspPlanDetails/FspHeader/__snapshots__/FspHeader.test.tsx.snap
Labels: selenium

#4023 Rename migration
  backend/hct_mis_api/apps/erp_datahub/migrations/0018_migration.py
Labels: bug, backend

#3963 Selenium: People - Smoke Tests
  backend/hct_mis_api/apps/household/fixtures.py
  backend/selenium_tests/conftest.py
  backend/selenium_tests/grievance/feedback/test_feedback.py
  backend/selenium_tests/grievance/grievance_tickets/test_grievance_tickets.py
  backend/selenium_tests/page_object/base_components.py
  backend/selenium_tests/page_object/people/people.py
  backend/selenium_tests/page_object/people/people_details.py
  backend/selenium_tests/page_object/registration_data_import/registration_data_import.py
  backend/selenium_tests/people/test_people.py
  backend/selenium_tests/program_details/test_program_details.py
  backend/selenium_tests/programme_population/test_households.py
  backend/selenium_tests/programme_population/test_individuals.py
  backend/selenium_tests/registration_data_import/test_registration_data_import.py
  backend/selenium_tests/targeting/test_targeting.py
  backend/selenium_tests/tools/tag_name_finder.py
Labels: selenium

#3997 Selenium Accountability Surveys - Smoke tests
  backend/selenium_tests/accountability/test_surveys.py
  backend/selenium_tests/conftest.py
  backend/selenium_tests/page_object/accountability/surveys.py
  backend/selenium_tests/page_object/accountability/surveys_details.py
Labels: selenium

#4026 PDU Template and Update models, REST endpoints
  backend/hct_mis_api/api/caches.py
  backend/hct_mis_api/apps/account/api/permissions.py
  backend/hct_mis_api/apps/account/fixtures/data.json
  backend/hct_mis_api/apps/account/migrations/0072_migration.py
  backend/hct_mis_api/apps/account/permissions.py
  backend/hct_mis_api/apps/payment/api/caches.py
  backend/hct_mis_api/apps/periodic_data_update/api/caches.py
  backend/hct_mis_api/apps/periodic_data_update/api/serializers.py
  backend/hct_mis_api/apps/periodic_data_update/api/urls.py
  backend/hct_mis_api/apps/periodic_data_update/api/views.py
  backend/hct_mis_api/apps/periodic_data_update/fixtures.py
  backend/hct_mis_api/apps/periodic_data_update/migrations/0002_migration.py
  backend/hct_mis_api/apps/periodic_data_update/models.py
  backend/hct_mis_api/apps/periodic_data_update/signals.py
  backend/tests/apps/periodic_data_update/test_periodic_data_update_template_views.py
  backend/tests/apps/periodic_data_update/test_periodic_data_update_upload_views.py
  backend/tests/fixtures/account.py
Labels: backend

#4014 Fix create NA tickets for the same Individual (HardDocumentDeduplication)
  backend/hct_mis_api/apps/registration_datahub/tasks/deduplicate.py
  backend/hct_mis_api/apps/registration_datahub/tests/test_handling_documents_duplicates.py
  backend/hct_mis_api/one_time_scripts/tests/test_fix_cross_programs_tickets.py
  frontend/data/schema.graphql
  frontend/src/__generated__/graphql.tsx
Labels: backend

#4025 [207085] New REST Api endpoints
  backend/hct_mis_api/api/endpoints/__init__.py
  backend/hct_mis_api/api/endpoints/core/__init__.py
  backend/hct_mis_api/api/endpoints/core/serializers.py
  backend/hct_mis_api/api/endpoints/core/views.py
  backend/hct_mis_api/api/endpoints/program/__init__.py
  backend/hct_mis_api/api/endpoints/program/serializers.py
  backend/hct_mis_api/api/endpoints/program/views.py
  backend/hct_mis_api/api/tests/test_business_area.py
  backend/hct_mis_api/api/tests/test_program.py
  backend/hct_mis_api/api/urls.py
Labels: backend

#4018 [177487]- move add new ticket to the top of Grievance Page
  backend/selenium_tests/grievance/grievance_tickets/test_grievance_tickets.py
  frontend/src/components/grievances/GrievancesTable/GrievancesTable.tsx
  frontend/src/containers/pages/grievances/GrievancesTablePage.tsx
Labels: frontend

#4033 Selenium: Problem with deadlock
  backend/selenium_tests/targeting/test_targeting.py
Labels: selenium

#4035 Selenium: Deadlock problems part2
  backend/selenium_tests/targeting/test_targeting.py
Labels: selenium

#4038 Selenium: Deadlock part 3
  backend/selenium_tests/targeting/test_targeting.py
Labels: selenium

#4016 Selenium: Payment Module - Happy path
  backend/selenium_tests/conftest.py
  backend/selenium_tests/helpers/date_time_format.py
  backend/selenium_tests/helpers/helper.py
  backend/selenium_tests/page_object/base_components.py
  backend/selenium_tests/page_object/payment_module/new_payment_plan.py
  backend/selenium_tests/page_object/payment_module/payment_module_details.py
  backend/selenium_tests/payment_module/test_payment_module.py
Labels: selenium

#4003 Selenium: Grievance Dashboard - happy path
  backend/selenium_tests/grievance/grievance_dashboard/test_grievance_dashboard.py
  backend/selenium_tests/page_object/grievance/details_grievance_page.py
  backend/selenium_tests/page_object/grievance/grievance_tickets.py
Labels: selenium

#4040 Selenium: Deadlock part 4
  backend/selenium_tests/targeting/test_targeting.py
Labels: selenium

#4042 Selenium: Fix date problem
  backend/selenium_tests/payment_module/test_payment_module.py
Labels: selenium

#4045 [208169] Fix kobo import
  backend/hct_mis_api/apps/registration_datahub/tasks/rdi_kobo_create.py
Labels: bug, backend

#4004 Selenium: Managerial Console - Happy path
  backend/selenium_tests/grievance/grievance_dashboard/test_grievance_dashboard.py
  backend/selenium_tests/managerial_console/test_managerial_console.py
Labels: selenium

#4048 Fix missing bank related fields in kobo import
  backend/hct_mis_api/apps/registration_datahub/tasks/rdi_kobo_create.py
  backend/hct_mis_api/apps/registration_datahub/tests/test_file/kobo_submissions.json
Labels: bug, backend

#4046 [HOTFIX] [207926] Nigeria, Palestine - remove Payment Plans and RDI
  backend/hct_mis_api/one_time_scripts/delete_pplans_and_rdi.py
  backend/hct_mis_api/one_time_scripts/tests/test_delete_pplans_and_rdi.py
Labels: hotfix, backend

#4053 [208274] Amend button to remove RDI in admin
  backend/hct_mis_api/apps/household/documents.py
  backend/hct_mis_api/apps/registration_data/admin.py
  backend/hct_mis_api/apps/registration_data/tests/test_admin.py
Labels: backend

#4058 Selenium: Update GeoPoints
  backend/selenium_tests/helpers/rdi_import_50_hh_50_ind.xlsx
Labels: selenium

#4067 [HOTFIX] Fix issue with xlsx update Ind `unicef_id` column name
  backend/hct_mis_api/apps/household/services/individual_xlsx_update.py
Labels: bug, hotfix, backend

#4063 [208150] Add admin action - withdraw households by IDs in list
  backend/hct_mis_api/apps/core/utils.py
  backend/hct_mis_api/apps/grievance/models.py
  backend/hct_mis_api/apps/household/admin/household.py
  backend/hct_mis_api/apps/household/celery_tasks.py
  backend/hct_mis_api/apps/household/templates/admin/household/household/withdraw_households_from_list.html
  backend/hct_mis_api/apps/household/tests/test_household_admin.py
Labels: backend

#3889 Upgrade elasticsearch to 8.13.0
  backend/hct_mis_api/apps/core/base_test_case.py
  backend/hct_mis_api/apps/core/management/commands/initdemo.py
  backend/hct_mis_api/apps/household/documents.py
  backend/hct_mis_api/apps/registration_datahub/documents.py
  backend/hct_mis_api/config/env.py
  backend/pdm.lock
  backend/pyproject.toml
  backend/selenium_tests/registration_data_import/test_registration_data_import.py
  docker-compose.kibana.yml
  elasticsearch/Dockerfile
Labels: backend

#4070 HOTFIX // KOBO Skip validation for pictures
  backend/hct_mis_api/apps/registration_data/migrations/0037_migration.py
  backend/hct_mis_api/apps/registration_data/models.py
  backend/hct_mis_api/apps/registration_datahub/mutations.py
  backend/hct_mis_api/apps/registration_datahub/tasks/pull_kobo_submissions.py
  backend/hct_mis_api/apps/registration_datahub/tests/test_celery_tasks.py
  backend/hct_mis_api/apps/registration_datahub/tests/test_kobo_validators_methods.py
  backend/hct_mis_api/apps/registration_datahub/validators.py
  frontend/data/schema.graphql
  frontend/src/__generated__/graphql.tsx
  frontend/src/apollo/mutations/rdi/SaveKoboImportData.ts
  frontend/src/apollo/mutations/rdi/SaveKoboImportDataAsync.ts
  frontend/src/components/rdi/create/kobo/CreateImportFromKoboForm.tsx
Labels: hotfix, backend, frontend

#4054 Selenium: People - happy path
  backend/selenium_tests/page_object/base_components.py
  backend/selenium_tests/people/test_people.py
  backend/selenium_tests/targeting/test_targeting.py
Labels: selenium

#4066 [208483] Test rdi kobo
  backend/hct_mis_api/apps/core/kobo/api.py
  backend/pdm.lock
  backend/pyproject.toml
  backend/selenium_tests/page_object/registration_data_import/registration_data_import.py
  backend/selenium_tests/registration_data_import/cassettes/TestRegistrationDataImport.test_import_empty_kobo_form.yaml
  backend/selenium_tests/registration_data_import/cassettes/TestRegistrationDataImport.test_import_kobo_form.yaml
  backend/selenium_tests/registration_data_import/test_registration_data_import.py
  compose.yml
  frontend/src/components/rdi/create/kobo/KoboProjectSelect.tsx
Labels: backend, selenium

#4029 [168275]- Grievance: Enable grievance approver to mark individuals as unique when resolving NA
  .gitignore
  backend/hct_mis_api/apps/account/fixtures.py
  backend/hct_mis_api/apps/core/management/commands/initdemo.py
  backend/hct_mis_api/apps/grievance/admin.py
  backend/hct_mis_api/apps/grievance/fixtures/data.json
  backend/hct_mis_api/apps/grievance/migrations/0071_migration.py
  backend/hct_mis_api/apps/grievance/models.py
  backend/hct_mis_api/apps/grievance/mutations.py
  backend/hct_mis_api/apps/grievance/schema.py
  backend/hct_mis_api/apps/grievance/services/needs_adjudication_ticket_services.py
  backend/hct_mis_api/apps/grievance/signals.py
  backend/hct_mis_api/apps/grievance/tests/snapshots/snap_test_adjudication_ticket_partner_permission.py
  backend/hct_mis_api/apps/grievance/tests/snapshots/snap_test_approve_automatic_tickets.py
  backend/hct_mis_api/apps/grievance/tests/snapshots/snap_test_grievance_query.py
  backend/hct_mis_api/apps/grievance/tests/test_adjudication_ticket_partner_permission.py
  backend/hct_mis_api/apps/grievance/tests/test_approve_automatic_tickets.py
  backend/hct_mis_api/apps/grievance/tests/test_grievance_query.py
  backend/hct_mis_api/apps/grievance/tests/test_services_utils.py
  backend/hct_mis_api/apps/grievance/utils.py
  backend/hct_mis_api/apps/household/fixtures/data.json
  backend/hct_mis_api/apps/household/models.py
  backend/hct_mis_api/apps/registration_data/fixtures/data.json
  backend/hct_mis_api/apps/registration_datahub/schema.py
  backend/selenium_tests/grievance/grievance_tickets/test_grievance_tickets.py
  backend/selenium_tests/page_object/grievance/details_grievance_page.py
  backend/selenium_tests/page_object/programme_population/individuals.py
  compose.selenium.yml
  frontend/data/schema.graphql
  frontend/src/__generated__/graphql.tsx
  frontend/src/apollo/fragments/GrievanceTicketFragment.ts
  frontend/src/apollo/mutations/grievances/ApproveNeedsAdjudication.ts
  frontend/src/components/grievances/GrievanceDetailsToolbar.tsx
  frontend/src/components/grievances/GrievancesApproveSection/GrievancesApproveSection.tsx
  frontend/src/components/grievances/LookUps/LookUpReassignRole/LookUpReassignRole.tsx
  frontend/src/components/grievances/NeedsAdjudication/NeedsAdjudicationActions.tsx
  frontend/src/components/grievances/NeedsAdjudication/NeedsAdjudicationDetailsNew.tsx
  frontend/src/components/grievances/NeedsAdjudication/NeedsAdjudicationDetailsOld.tsx
  frontend/src/components/grievances/NeedsAdjudication/NeedsAdjudicationTable.tsx
  frontend/src/components/grievances/NeedsAdjudicationDetailsOld.tsx
  frontend/src/components/grievances/ReassignMultipleRoleBox.tsx
  frontend/src/components/population/IndividualFlags.tsx
  frontend/src/containers/pages/grievances/GrievancesDetailsPage/GrievancesDetailsPage.tsx
  frontend/src/utils/en.json
Labels: backend, frontend

#4102 Finish create template flow
  frontend/src/api/periodicDataUpdateApi.ts
  frontend/src/components/grievances/RequestedIndividualDataChangeTable/DeliveryMechanismDataToEditTable.tsx
  frontend/src/components/periodicDataUpdates/FieldsToUpdate.tsx
  frontend/src/components/periodicDataUpdates/PeriodicDataUpdatesUpdatesList.tsx
  frontend/src/components/programs/CreateProgram/ProgramStepper.tsx
  frontend/src/containers/pages/householdMembers/NewTemplatePage.tsx
  frontend/src/containers/pages/householdMembers/NewTemplatePeoplePage.tsx
  frontend/src/containers/pages/people/PeoplePage.tsx
  frontend/src/containers/pages/population/HouseholdMembersPage.tsx
  frontend/src/containers/pages/program/CreateProgramPage.tsx
Labels: frontend

#4103 add data-cy
  frontend/src/components/periodicDataUpdates/FieldsToUpdate.tsx
Labels: frontend

#4104 Fix missing package
  backend/pdm.lock
Labels: bug, backend

#4105 Fix dates problem in test_program_details
  backend/pdm.lock
  backend/selenium_tests/program_details/test_program_details.py
Labels: selenium
