Repository unicef/hope, pull requests merged in 2024-10, with the labels that each got.

#4272 [215364] KOBO - Add validation for unique individual with role in household
  src/hct_mis_api/apps/registration_datahub/validators.py
  tests/selenium/programme_management/test_programme_management.py
  tests/unit/apps/registration_datahub/test_kobo_validators_methods.py
Labels: backend

#4281 [AB#216921]-remove usd from label
  src/frontend/src/containers/pages/paymentmodule/ProgramCycle/ProgramCycleDetails/PaymentPlansHeadCells.ts
  src/frontend/src/containers/pages/paymentmodule/ProgramCycle/ProgramCycleDetails/ProgramCycleDetailsHeader.tsx
Labels: bug, frontend

#4265 AB#200744 - access denied on programs list
  src/frontend/src/components/core/Drawer/Drawer.tsx
  src/frontend/src/components/core/Drawer/DrawerItems.tsx
  src/frontend/src/containers/GlobalProgramSelect.tsx
Labels: bug, frontend

#4260 PM: Supporting documents
  src/frontend/data/schema.graphql
  src/frontend/src/__generated__/graphql.tsx
  src/frontend/src/__generated__/introspection-result.ts
  src/frontend/src/api/paymentModuleApi.ts
  src/frontend/src/apollo/queries/paymentmodule/PaymentPlan.ts
  src/frontend/src/components/core/DropzoneField.tsx
  src/frontend/src/components/paymentmodule/PaymentPlanDetails/SupportingDocumentsSection/SupportingDocumentsSection.tsx
  src/frontend/src/components/paymentmodule/PaymentPlanDetails/SupportingDocumentsSection/SupportingDocumentsSectionActions.ts
  src/frontend/src/components/periodicDataUpdates/PeriodicDataUpdatesUploadDialog.tsx
  src/frontend/src/components/rdi/create/xlsx/CreateImportFromXlsxForm.tsx
  src/frontend/src/config/permissions.ts
  src/frontend/src/containers/pages/paymentmodule/FollowUpPaymentPlanDetailsPage.tsx
  src/frontend/src/containers/pages/paymentmodule/ProgramCycle/PaymentPlanDetails/PaymentPlanDetailsPage.tsx
  src/frontend/src/containers/pages/paymentmodulepeople/PeopleFollowUpPaymentPlanDetailsPage.tsx
  src/frontend/src/containers/pages/paymentmodulepeople/PeoplePaymentPlanDetailsPage.tsx
  src/frontend/src/utils/en.json
  src/hct_mis_api/api/urls.py
  src/hct_mis_api/apps/account/api/permissions.py
  src/hct_mis_api/apps/account/fixtures/data.json
  src/hct_mis_api/apps/account/permissions.py
  src/hct_mis_api/apps/payment/admin.py
  src/hct_mis_api/apps/payment/api/serializers.py
  src/hct_mis_api/apps/payment/api/urls/__init__.py
  src/hct_mis_api/apps/payment/api/urls/payment_plans.py
  src/hct_mis_api/apps/payment/api/urls/payments.py
  src/hct_mis_api/apps/payment/api/views.py
  src/hct_mis_api/apps/payment/migrations/0146_migration.py
  src/hct_mis_api/apps/payment/models.py
  src/hct_mis_api/apps/payment/schema.py
  tests/selenium/page_object/payment_module/payment_module_details.py
  tests/selenium/payment_module/test_payment_plans.py
  tests/unit/apps/payment/snapshots/snap_test_all_payment_plan_queries.py
  tests/unit/apps/payment/test_all_payment_plan_queries.py
  tests/unit/apps/payment/test_payment_plan_supporting_documents.py
Labels: backend, frontend, work in progress

#4291 [HOTFIX] Fix Document status RDI program population
  backend/hct_mis_api/apps/program/utils.py
  backend/hct_mis_api/apps/registration_datahub/tests/test_program_population_to_pending_objects.py
Labels: hotfix

#4282 [216917] Program Cycle required for TP, adjust create TP from list in admin
  codecov.yml
  src/hct_mis_api/apps/core/admin.py
  src/hct_mis_api/apps/core/celery_tasks.py
  src/hct_mis_api/apps/core/templates/core/admin/create_tp.html
  src/hct_mis_api/apps/household/forms.py
  src/hct_mis_api/apps/payment/fixtures.py
  src/hct_mis_api/apps/targeting/celery_tasks.py
  src/hct_mis_api/apps/targeting/fixtures.py
  src/hct_mis_api/apps/targeting/migrations/0048_migration.py
  src/hct_mis_api/apps/targeting/models.py
  tests/.coveragerc
  tests/selenium/programme_management/test_programme_management.py
  tests/unit/apps/account/test_admin.py
  tests/unit/apps/cash_assist_datahub/test_pull_from_datahub.py
  tests/unit/apps/core/test_edopomoga_tp_creation.py
  tests/unit/apps/mis_datahub/test_data_send_tp_to_datahub.py
  tests/unit/apps/mis_datahub/test_external_collector_send_tp_to_datahub.py
  tests/unit/apps/mis_datahub/test_send_tp_to_datahub.py
  tests/unit/apps/payment/test_payment_plan_services.py
  tests/unit/apps/targeting/test_copy_target_population_mutation.py
  tests/unit/apps/targeting/test_status_change_target_population_mutation.py
  tests/unit/apps/targeting/test_target_population_households_query.py
  tests/unit/apps/targeting/test_target_query.py
  tests/unit/apps/targeting/test_update_target_population_mutation.py
  tests/unit/one_time_scripts/test_program_cycle_data_migration.py
Labels: backend

#4270 [201639]-add delivery mechanisms section
  src/frontend/src/components/population/IndividualAdditionalRegistrationInformation/IndividualAdditionalRegistrationInformation.tsx
  src/frontend/src/components/population/IndividualAdditionalRegistrationInformation/__snapshots__/IndividualAdditionalRegistrationInformation.test.tsx.snap
  src/frontend/src/components/population/IndividualDeliveryMechanisms.tsx
  src/frontend/src/components/programs/ProgramDetails/ProgramDetails.tsx
  src/frontend/src/config/permissions.ts
  src/frontend/src/containers/pages/population/PopulationIndividualsDetailsPage.tsx
  src/frontend/src/utils/en.json
Labels: frontend

#4290 exclusion fix
  src/frontend/src/components/paymentmodule/PaymentPlanDetails/ExcludeSection/ExcludeSection.tsx
  src/frontend/src/components/paymentmodulepeople/PaymentPlanDetails/ExcludeSection/ExcludeSection.tsx
Labels: bug, frontend

#4278 [AB#208629]-add new column in payments table
  src/frontend/src/components/programs/ProgramDetails/ProgramDetails.tsx
  src/frontend/src/components/programs/ProgramDetails/__snapshots__/ProgramDetails.test.tsx.snap
  src/frontend/src/containers/tables/paymentmodule/PaymentsTable/PaymentsTableHeadCells.tsx
  src/frontend/src/containers/tables/paymentmodule/PaymentsTable/PaymentsTableRow.tsx
  src/frontend/src/containers/tables/paymentmodule/PaymentsTable/__snapshots__/PaymentsTable.test.tsx.snap
  tests/selenium/payment_module/test_payment_plans.py
Labels: frontend

#4301 STG TargetPopulation Program field not nullable
  src/hct_mis_api/apps/targeting/migrations/0049_migration.py
  src/hct_mis_api/apps/targeting/models.py
Labels: backend

#4229 Programme Cycle - Allow deletion of cycle only if no TP / PP linked
  src/frontend/src/api/programCycleApi.ts
  src/frontend/src/components/paymentmodule/PaymentPlanDetails/SupportingDocumentsSection/SupportingDocumentsSection.tsx
  src/frontend/src/containers/tables/ProgramCycle/ProgramCyclesTableProgramDetails.tsx
  src/hct_mis_api/apps/program/api/serializers.py
  src/hct_mis_api/apps/program/models.py
  tests/unit/apps/program/test_program_cycle.py
  tests/unit/apps/program/test_program_cycle_rest_api.py
Labels: backend, frontend

#4267 Payment use snapshot data
  src/hct_mis_api/apps/account/migrations/0079_migration.py
  src/hct_mis_api/apps/core/field_attributes/core_fields_attributes.py
  src/hct_mis_api/apps/core/field_attributes/payment_channel_fields_attributes.py
  src/hct_mis_api/apps/payment/models.py
  src/hct_mis_api/apps/payment/services/payment_gateway.py
  src/hct_mis_api/apps/payment/services/payment_household_snapshot_service.py
  src/hct_mis_api/apps/payment/xlsx/xlsx_payment_plan_export_per_fsp_service.py
  src/hct_mis_api/one_time_scripts/create_payment_snapshot.py
  tests/unit/apps/core/test_core_fields.py
  tests/unit/apps/core/test_kobo_template_upload.py
  tests/unit/apps/payment/test_build_snapshot.py
  tests/unit/apps/payment/test_fsp_xlsx_template_get_column_value.py
  tests/unit/apps/payment/test_import_export_payment_plan_payment_list.py
  tests/unit/apps/payment/test_models.py
  tests/unit/apps/payment/test_models1.py
  tests/unit/apps/payment/test_payment_gateway_service.py
  tests/unit/apps/payment/test_payment_plan_reconciliation.py
  tests/unit/apps/payment/test_payment_plan_services.py
  tests/unit/apps/registration_data/test_template_file_generator.py
  tests/unit/one_time_scripts/test_create_payment_snapshot.py
Labels: backend

#4302 [AB#217698]-fix display supporting docs
  src/frontend/src/components/paymentmodule/PaymentPlanDetails/SupportingDocumentsSection/SupportingDocumentsSection.tsx
Labels: bug, frontend

#4308 [217875] Block simultaneous task with same data for enroll hhs
  src/hct_mis_api/apps/household/celery_tasks.py
  src/hct_mis_api/apps/program/utils.py
  tests/unit/apps/program/test_copy_program.py
  tests/unit/apps/program/test_program_utils.py
  tests/unit/apps/registration_datahub/test_program_population_to_pending_objects.py
Labels: backend

#4285 Selenium: Payment module tests
  src/frontend/src/components/paymentmodule/PaymentPlanDetails/ExcludeSection/ExcludeSection.tsx
  src/frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsHeader/DeletePaymentPlan.tsx
  src/frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsHeader/HeaderButtons/LockedFspPaymentPlanHeaderButtons.tsx
  src/frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsHeader/HeaderButtons/LockedPaymentPlanHeaderButtons.tsx
  src/frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsHeader/HeaderButtons/OpenPaymentPlanHeaderButtons.tsx
  src/frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsHeader/HeaderButtons/__snapshots__/InApprovalPaymentPlanHeaderButtons.test.tsx.snap
  src/frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsHeader/HeaderButtons/__snapshots__/InAuthorizationPaymentPlanHeaderButtons.test.tsx.snap
  src/frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsHeader/HeaderButtons/__snapshots__/InReviewPaymentPlanHeaderButtons.test.tsx.snap
  src/frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsHeader/HeaderButtons/__snapshots__/OpenPaymentPlanHeaderButtons.test.tsx.snap
  src/frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsHeader/RejectPaymentPlan.tsx
  src/frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsHeader/__snapshots__/DeletePaymentPlan.test.tsx.snap
  src/frontend/src/components/paymentmodule/PaymentPlanDetails/PaymentPlanDetailsHeader/__snapshots__/RejectPaymentPlan.test.tsx.snap
  src/frontend/src/components/paymentmodulepeople/PaymentPlanDetails/ExcludeSection/ExcludeSection.tsx
  src/frontend/src/components/paymentmodulepeople/PaymentPlanDetails/PaymentPlanDetailsHeader/DeletePaymentPlan.tsx
  src/frontend/src/components/paymentmodulepeople/PaymentPlanDetails/PaymentPlanDetailsHeader/HeaderButtons/__snapshots__/OpenPaymentPlanHeaderButtons.test.tsx.snap
  src/frontend/src/components/paymentmodulepeople/PaymentPlanDetails/PaymentPlanDetailsHeader/__snapshots__/DeletePaymentPlan.test.tsx.snap
  tests/selenium/conftest.py
  tests/selenium/helpers/helper.py
  tests/selenium/page_object/base_components.py
  tests/selenium/page_object/grievance/new_ticket.py
  tests/selenium/page_object/payment_module/new_payment_plan.py
  tests/selenium/page_object/payment_module/payment_module_details.py
  tests/selenium/page_object/payment_module/program_cycle.py
  tests/selenium/page_object/payment_module/program_cycle_details.py
  tests/selenium/payment_module/test_payment_plans.py
  tests/selenium/payment_module/test_program_cycles.py
  tests/selenium/people/test_people.py
Labels: selenium

#4328 fix disable next button when no category selected (grievance)
  src/frontend/src/containers/pages/grievances/CreateGrievancePage.tsx
Labels: bug, frontend

#4320 security issues next part
  cypress/package.json
  cypress/yarn.lock
  src/frontend/package.json
  src/frontend/src/components/core/UniversalMoment.tsx
  src/frontend/src/config/index.ts
  src/frontend/yarn.lock
Labels: dependencies, frontend

#4333 [217428] Flex field validation - label should contain 'English(EN)'
  src/hct_mis_api/apps/core/fixtures.py
  src/hct_mis_api/apps/core/migrations/0088_migration.py
  src/hct_mis_api/apps/core/models.py
  tests/unit/apps/core/test_schema.py
  tests/unit/apps/payment/test_import_export_payment_plan_payment_list.py
  tests/unit/apps/periodic_data_update/test_models.py
  tests/unit/apps/program/test_copy_program.py
  tests/unit/apps/registration_datahub/test_rdi_xlsx_create.py
  tests/unit/apps/targeting/test_create_target_population_mutation.py
  tests/unit/apps/targeting/test_individual_block_filters.py
Labels: backend

#4337 Clean/Remove pre GPF data: Script Optimization
  src/hct_mis_api/one_time_scripts/remove_migrated_data_is_original.py
Labels: backend

#4345 Optimization script remove data with `is_original=True` v3
  src/hct_mis_api/one_time_scripts/remove_migrated_data_is_original.py
  tests/unit/one_time_scripts/test_remove_migrated_data_is_original.py
Labels: backend

#4355 delivery mechanisms section individual
  src/frontend/src/components/population/IndividualDeliveryMechanisms.tsx
  src/frontend/src/config/permissions.ts
  src/frontend/src/containers/pages/population/PopulationIndividualsDetailsPage.tsx
Labels: frontend

#4346 Fixes // Payment Module - Supporting document
  src/hct_mis_api/apps/payment/api/views.py
Labels: backend

#4354 [AB#218096, AB#218089]-dont show reassign role box for sw program in grievance NA, people status column
  src/frontend/src/components/grievances/GrievancesSidebar/GrievancesSidebar.tsx
  src/frontend/src/components/grievances/NeedsAdjudication/NeedsAdjudicationTable.tsx
  src/frontend/src/containers/tables/people/PeopleListTable/PeopleListTableHeadCells.tsx
  src/frontend/src/containers/tables/people/PeopleListTable/PeopleListTableRow.tsx
  src/frontend/src/containers/tables/people/PeopleListTable/__snapshots__/PeopleListTable.test.tsx.snap
  src/frontend/src/utils/utils.ts
  src/hct_mis_api/apps/grievance/models.py
  src/hct_mis_api/apps/grievance/services/needs_adjudication_ticket_services.py
Labels: frontend

#4363 Payment plan notification exclude superusers
  src/hct_mis_api/apps/payment/notifications.py
  tests/unit/apps/payment/test_payment_notification.py
Labels: backend

#4361 fix currency issues in payment module
  src/frontend/src/containers/pages/paymentmodule/ProgramCycle/ProgramCycleDetails/PaymentPlanTableRow.tsx
  src/frontend/src/containers/tables/ProgramCycle/HeadCells.ts
  src/frontend/src/containers/tables/ProgramCycle/ProgramCyclesTableProgramDetails.tsx
  src/frontend/src/containers/tables/ProgramCyclesTable/ProgramCyclesTable.tsx
  src/frontend/src/containers/tables/ProgramCyclesTablePaymentModule/HeadCells.ts
  src/frontend/src/containers/tables/ProgramCyclesTablePaymentModule/ProgramCyclesTablePaymentModule.tsx
  src/hct_mis_api/apps/program/models.py
  tests/selenium/page_object/payment_module/program_cycle.py
  tests/selenium/page_object/programme_details/programme_details.py
  tests/selenium/payment_module/test_program_cycles.py
  tests/selenium/program_details/test_program_details.py
Labels: backend, frontend

#4371 [219583] [HOTFIX] Fix ImportProgramPopulation hh assignment, one-time-script to fix prod data && Payment conflicts PR#4370
  src/hct_mis_api/apps/household/fixtures.py
  src/hct_mis_api/apps/payment/managers.py
  src/hct_mis_api/apps/program/utils.py
  src/hct_mis_api/one_time_scripts/fix_program_population_import_incorrect_hh_ind_relation.py
  tests/unit/apps/payment/test_models1.py
  tests/unit/apps/registration_datahub/test_program_population_to_pending_objects.py
  tests/unit/one_time_scripts/test_fix_program_population_import_incorrect_hh_ind_relation.py
Labels: hotfix, backend

#4343 🥇 Grievance changes for people
  .github/workflows/ci.yml
  src/frontend/data/schema.graphql
  src/frontend/jest.config.ts
  src/frontend/src/__generated__/graphql.tsx
  src/frontend/src/apollo/fragments/GrievanceTicketFragment.ts
  src/frontend/src/apollo/fragments/IndividualFragments.ts
  src/frontend/src/apollo/queries/grievances/AllGrievanceTicket.ts
  src/frontend/src/components/grievances/CreateGrievance/Description/Description.tsx
  src/frontend/src/components/grievances/CreateGrievance/Selection/Selection.tsx
  src/frontend/src/components/grievances/CreateGrievance/Verification/Verification.tsx
  src/frontend/src/components/grievances/GrievancesDetails/GrievancesDetails.tsx
  src/frontend/src/components/grievances/GrievancesDetails/__snapshots__/GrievancesDetails.test.tsx.snap
  src/frontend/src/components/grievances/GrievancesTable/GrievancesTable.tsx
  src/frontend/src/components/grievances/GrievancesTable/GrievancesTableHeadCells.tsx
  src/frontend/src/components/grievances/GrievancesTable/GrievancesTableRow.tsx
  src/frontend/src/components/grievances/IndividualQuestionnnaire/IndividualQuestionnaire.tsx
  src/frontend/src/components/grievances/LookUps/LookUpHouseholdIndividual/LookUpHouseholdIndividualSelection.tsx
  src/frontend/src/components/grievances/LookUps/LookUpHouseholdIndividual/LookUpHouseholdIndividualSelectionDetail.tsx
  src/frontend/src/components/grievances/LookUps/LookUpHouseholdIndividual/LookUpHouseholdIndividualSelectionDisplay.tsx
  src/frontend/src/components/grievances/LookUps/LookUpIndividualTable/LookUpIndividualTable.tsx
  src/frontend/src/components/grievances/LookUps/LookUpIndividualTable/LookUpIndividualTableHeadCells.tsx
  src/frontend/src/components/grievances/LookUps/LookUpIndividualTable/LookUpIndividualTableRow.tsx
  src/frontend/src/containers/pages/grievances/CreateGrievancePage.tsx
  src/hct_mis_api/apps/grievance/filters.py
  src/hct_mis_api/apps/grievance/models.py
  src/hct_mis_api/apps/grievance/schema.py
  tests/selenium/grievance/grievance_tickets/test_grievance_tickets.py
  tests/selenium/page_object/grievance/details_grievance_page.py
  tests/selenium/page_object/grievance/new_ticket.py
  tests/selenium/page_object/programme_management/programme_management.py
  tests/unit/apps/grievance/test_grievance_query.py
Labels: backend, frontend

#4378 [219858] Prevent errors when individual has no household
  src/hct_mis_api/apps/grievance/services/needs_adjudication_ticket_services.py
  tests/unit/apps/grievance/test_services_utils.py
Labels: backend

#4380 [217947] Remove the incorrect duplicates after enrollment
  src/hct_mis_api/one_time_scripts/remove_production_duplicates_after_enrollment.py
  tests/unit/one_time_scripts/test_remove_production_duplicates_after_enrollment.py
Labels: backend

#4387 [219912] Change country endpoint to use standard pagination
  src/hct_mis_api/api/endpoints/lookups/base.py
  tests/unit/api/test_lookups.py
Labels: backend

#4390 [220022] Geo api search and filter
  src/hct_mis_api/api/endpoints/lookups/area.py
  src/hct_mis_api/api/endpoints/lookups/base.py
  src/hct_mis_api/api/filters.py
  tests/unit/api/test_lookups.py
Labels: backend

#4384 fix something went wrong display
  src/frontend/src/containers/pages/somethingWentWrong/SomethingWentWrong.tsx
Labels: bug, frontend

#4383 [219996]-Cannot open payment verification details GF
  src/frontend/src/components/grievances/PaymentGrievance/PaymentGrievanceDetails/PaymentGrievanceDetails.tsx
Labels: bug, frontend

#4394 [220122] [HOTFIX] Prevent errors when individual has no household
  pyproject.toml
  src/hct_mis_api/apps/grievance/services/needs_adjudication_ticket_services.py
  tests/unit/apps/grievance/test_services_utils.py
Labels: backend
