Repository unicef/hope, pull requests merged in 2024-05, with the labels that each got.

#3828 [199275] Wrong redirect url
  frontend/src/apollo/client.ts
Labels: frontend

#3823 [194159] Grievance - Not possible to add linked ticket
  frontend/src/components/grievances/LookUps/LookUpLinkedTickets/LookUpLinkedTicketsModal.tsx
  frontend/src/components/targeting/CreateTPMenu.tsx
  frontend/src/components/targeting/EditTargetPopulation/EditTargetPopulationHeader.tsx
  frontend/src/components/targeting/TargetingCriteria/TargetingCriteria.tsx
  frontend/src/containers/pages/targeting/TargetPopulationsPage.tsx
Labels: frontend

#3825 [198859] Make Rule object read-only
  backend/hct_mis_api/apps/steficon/admin.py
  backend/hct_mis_api/apps/steficon/tests/test_rules.py
Labels: backend

#3831 [STG] Reporting: Fix Payment plan filtering
  backend/hct_mis_api/apps/reporting/services/generate_report_service.py
Labels: staging

#3832 Selenium - skip unstable test test_inactive_draft_subheader
  backend/selenium_tests/drawer/test_drawer.py
Labels: selenium

#3833 [199674] Fix validate phone number
  backend/hct_mis_api/api/endpoints/rdi/push_people.py
  backend/hct_mis_api/api/tests/test_push_people.py
Labels: bug, hotfix, backend

#3794 [197346] Caching, use cache for payment managerial view
  backend/dev.sh
  backend/hct_mis_api/api/caches.py
  backend/hct_mis_api/apps/payment/api/caches.py
  backend/hct_mis_api/apps/payment/api/views.py
  backend/hct_mis_api/apps/payment/apps.py
  backend/hct_mis_api/apps/payment/signals.py
  backend/hct_mis_api/config/fragments/constance.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/apps/api/__init__.py
  backend/tests/apps/api/test_cache.py
  backend/tests/apps/payments/test_payment_plan_views.py
  backend/tests/fixtures/account.py
  frontend/src/api/api.ts
Labels: backend, frontend

#3840 Fix visible delete rdi button
  backend/hct_mis_api/apps/registration_data/admin.py
Labels: backend

#3826 Selenium - Grievance Tickets tests smoke
  backend/selenium_tests/conftest.py
  backend/selenium_tests/girevance/grievance_tickets/test_grievance_tickets.py
  backend/selenium_tests/page_object/grievance/details_grievance_page.py
  backend/selenium_tests/page_object/grievance/grievance_tickets.py
  backend/selenium_tests/tools/tag_name_finder.py
  frontend/src/components/grievances/GrievancesTable/bulk/BulkBaseModal.tsx
Labels: selenium

#3824 [177497] Search enhancement
  frontend/fixtures/population/fakeApolloAllHouseholdsForPopulationTable.ts
  frontend/src/components/core/DocumentSearchField.test.tsx
  frontend/src/components/core/DocumentSearchField.tsx
  frontend/src/components/core/SearchTextField.tsx
  frontend/src/components/core/__snapshots__/DocumentSearchField.test.tsx.snap
  frontend/src/components/grievances/GrievancesTable/GrievancesFilters.tsx
  frontend/src/components/population/HouseholdFilter.tsx
  frontend/src/components/population/IndividualsFilter.tsx
  frontend/src/containers/tables/Communication/LookUpHouseholdTableCommunication/LookUpHouseholdTableCommunication.tsx
Labels: enhancement, frontend

#3835 [197914] [198517] Implement Mailjet for all existing notification, allow CATCH_ALL_EMAIL to set multiple email addresses
  backend/.coveragerc
  backend/hct_mis_api/apps/account/models.py
  backend/hct_mis_api/apps/core/utils.py
  backend/hct_mis_api/apps/grievance/notifications.py
  backend/hct_mis_api/apps/household/services/individuals_iban_xlsx_update.py
  backend/hct_mis_api/apps/household/tests/test_individual_iban_xlsx_update.py
  backend/hct_mis_api/apps/payment/notifications.py
  backend/hct_mis_api/apps/payment/tests/test_finish_verification_plan.py
  backend/hct_mis_api/apps/payment/tests/test_payment_notification.py
  backend/hct_mis_api/apps/reporting/services/generate_dashboard_report_service.py
  backend/hct_mis_api/apps/reporting/services/generate_report_service.py
  backend/hct_mis_api/apps/reporting/tests/test_generate_dashboard_report_service.py
  backend/hct_mis_api/apps/sanction_list/tasks/check_against_sanction_list.py
  backend/hct_mis_api/apps/sanction_list/tests/test_check_against_sanction_list_task.py
  backend/hct_mis_api/apps/utils/mailjet.py
  backend/hct_mis_api/config/fragments/mailjet.py
  backend/hct_mis_api/config/settings.py
  backend/hct_mis_api/conftest.py
  backend/tests/apps/utils/__init__.py
  backend/tests/apps/utils/test_mailjet.py
Labels: backend

#3842 [196548] Programme Users - filter by program, fix Roles to include Partner roles in list and filter
  backend/hct_mis_api/apps/account/filters.py
  backend/hct_mis_api/apps/account/schema.py
  backend/hct_mis_api/apps/account/tests/snapshots/snap_test_user_filters.py
  backend/hct_mis_api/apps/account/tests/test_user_filters.py
  frontend/data/schema.graphql
  frontend/src/__generated__/graphql.tsx
  frontend/src/apollo/queries/core/AllUsers.ts
  frontend/src/components/core/SelectFilter.tsx
  frontend/src/components/core/UsersListFilters.tsx
  frontend/src/containers/tables/UsersTable/UsersTable.tsx
  frontend/src/containers/tables/UsersTable/UsersTableRow.tsx
  frontend/src/containers/tables/UsersTable/__snapshots__/UsersTable.test.tsx.snap
Labels: enhancement, backend, frontend

#3849 Add `yarn lint` step to frontend tests
  .github/workflows/ci.yml
  frontend/src/containers/GlobalProgramSelect.tsx
Labels: backend needed

#3848 [199793] Missing ADMIN AREA 3 and ADMIN AREA 4 in Programme Details
  frontend/src/components/programs/ProgramDetails/ProgramDetails.tsx
Labels: bug, frontend

#3847 [196847] No validate end date for existing programmes
  frontend/src/components/programs/CreateProgram/programValidationSchema.ts
  frontend/src/containers/forms/ProgramForm.tsx
  frontend/src/containers/pages/program/CreateProgramPage.tsx
  frontend/src/containers/pages/program/DuplicateProgramPage.tsx
  frontend/src/containers/pages/program/EditProgramPage.tsx
Labels: frontend

#3837 Selenium - Grievance tickets: happy path
  .github/workflows/ci.yml
  backend/selenium_tests/conftest.py
  backend/selenium_tests/girevance/grievance_tickets/test_grievance_tickets.py
  backend/selenium_tests/helpers/helper.py
  backend/selenium_tests/page_object/grievance/new_ticket.py
  deployment/docker-compose.selenium.yml
Labels: selenium

#3845 remove comma Edit target Population
  frontend/src/components/targeting/EditTargetPopulation/EditTargetPopulation.tsx
Labels: bug, frontend

#3862 Selenium reruns
  deployment/docker-compose.selenium.yml
Labels: selenium

#3858 Global program filter changes
  backend/hct_mis_api/apps/program/filters.py
  frontend/src/containers/GlobalProgramSelect.tsx
  frontend/src/containers/forms/ProgramForm.tsx
Labels: frontend

#3854 [199779] Convert phone number None => empty string
  backend/hct_mis_api/api/endpoints/rdi/push_people.py
  backend/hct_mis_api/api/endpoints/rdi/upload_people.py
  backend/hct_mis_api/api/tests/test_push_people.py
  backend/hct_mis_api/api/tests/test_upload_people.py
  backend/hct_mis_api/apps/registration_datahub/models.py
Labels: enhancement, backend

#3865 [200749] Add email sender settings
  .env.example
  backend/hct_mis_api/apps/household/tests/test_individual_iban_xlsx_update.py
  backend/hct_mis_api/apps/reporting/tests/test_generate_dashboard_report_service.py
  backend/hct_mis_api/apps/sanction_list/tests/test_check_against_sanction_list_task.py
  backend/hct_mis_api/apps/utils/mailjet.py
  backend/hct_mis_api/config/fragments/mailjet.py
  backend/hct_mis_api/conftest.py
  backend/tests/apps/utils/test_mailjet.py
Labels: backend

#3872 🔥hotfix- call rapidPro flows on open Create/Edit verification plan
  frontend/src/components/payments/CreateVerificationPlan.tsx
  frontend/src/components/payments/EditVerificationPlan.tsx
Labels: bug, frontend

#3874 [200948] Update initdemo for new partner structure
  backend/hct_mis_api/apps/core/fixtures/businessareapartnerthrough.json
  backend/hct_mis_api/apps/core/management/commands/initdemo.py
  backend/hct_mis_api/apps/program/fixtures/programpartnerthrough.json
Labels: backend

#3861 Selenium - filters smoke tests
  backend/selenium_tests/conftest.py
  backend/selenium_tests/drawer/test_drawer.py
  backend/selenium_tests/filters/test_filters.py
  backend/selenium_tests/page_object/filters.py
  backend/selenium_tests/page_object/grievance/feedback.py
  frontend/src/components/accountability/Communication/CommunicationTable/CommunicationFilters.tsx
  frontend/src/components/accountability/Communication/LookUpsCommunication/LookUpRegistrationFiltersCommunication.tsx
  frontend/src/components/accountability/Feedback/FeedbackTable/FeedbackFilters.tsx
  frontend/src/components/core/DatePickerFilter.tsx
  frontend/src/components/core/SelectFilter.tsx
  frontend/src/components/core/UsersListFilters.tsx
  frontend/src/components/core/__snapshots__/DocumentSearchField.test.tsx.snap
  frontend/src/components/grievances/GrievancesTable/GrievancesFilters.tsx
  frontend/src/components/grievances/LookUps/LookUpLinkedTicketsTable/LookUpLinkedTicketsFilters.tsx
  frontend/src/components/people/PeopleFilter.tsx
  frontend/src/components/population/IndividualsFilter.tsx
  frontend/src/components/rdi/RegistrationFilters.tsx
  frontend/src/components/rdi/RegistrationPeopleFilters.tsx
  frontend/src/containers/tables/ProgrammesTable/ProgrammesFilter.tsx
  frontend/src/containers/tables/ReportingTable/ReportingFilters.tsx
  frontend/src/containers/tables/payments/PaymentVerificationTable/PaymentVerificationFilters.tsx
Labels: selenium

#3880 [HOTFEATURE] Export Entitlement PaymentPlan: add field village
  backend/hct_mis_api/apps/payment/models.py
  backend/hct_mis_api/apps/payment/tests/test_file/pp_payment_list_invalid.xlsx
  backend/hct_mis_api/apps/payment/tests/test_file/pp_payment_list_unexpected_column.xlsx
  backend/hct_mis_api/apps/payment/tests/test_file/pp_payment_list_valid.xlsx
  backend/hct_mis_api/apps/payment/tests/test_import_export_payment_plan_payment_list.py
  backend/hct_mis_api/apps/payment/xlsx/xlsx_payment_plan_base_service.py
  backend/hct_mis_api/apps/payment/xlsx/xlsx_payment_plan_import_service.py
Labels: hotfix

#3864 [199575]-fix gf tabs
  backend/selenium_tests/page_object/grievance/grievance_tickets.py
  frontend/src/components/core/Table/EnhancedTableHead.tsx
  frontend/src/containers/pages/grievances/GrievancesTablePage.tsx
Labels: bug, frontend

#3877 Selenium - Program Details: Smoke Tests
  backend/selenium_tests/grievance/feedback/test_feedback.py
  backend/selenium_tests/grievance/grievance_tickets/test_grievance_tickets.py
  backend/selenium_tests/page_object/programme_details/programme_details.py
  backend/selenium_tests/page_object/programme_management/programme_management.py
  backend/selenium_tests/program_details/test_program_details.py
  backend/selenium_tests/programme_management/test_programme_management.py
  backend/selenium_tests/tools/tag_name_finder.py
  frontend/src/containers/pages/program/EditProgramPage.tsx
Labels: selenium

#3878 👨‍💼🎮 200402/managerial console released section
  backend/hct_mis_api/apps/account/migrations/0069_migration.py
  backend/hct_mis_api/apps/account/permissions.py
  backend/hct_mis_api/apps/payment/api/views.py
  backend/hct_mis_api/apps/payment/models.py
  backend/tests/apps/payments/test_payment_plan_views.py
  frontend/src/components/managerialConsole/PendingForReleaseSection.tsx
  frontend/src/components/managerialConsole/ReleasedSection.tsx
  frontend/src/config/permissions.ts
  frontend/src/containers/pages/managerialConsole/ManagerialConsolePage.tsx
  package.json
  yarn.lock
Labels: backend, frontend

#3888 [201378] Fix api, push admin1, admin2
  backend/hct_mis_api/api/endpoints/rdi/push_people.py
  backend/hct_mis_api/api/tests/test_push_people.py
Labels: bug, hotfix, backend

#3884 [HOTFIX][201273] Fix Grievance creation flow for All Programs, fix existing Grievances
  backend/hct_mis_api/one_time_scripts/assign_program_to_grievance_tickets.py
  backend/hct_mis_api/one_time_scripts/tests/test_grievance_ticket_fill_empty_program.py
  frontend/src/components/grievances/CreateGrievance/Description/Description.tsx
  frontend/src/containers/pages/accountability/feedback/CreateFeedbackPage.tsx
Labels: backend, frontend

#3869 🔥hotfix residenceStatusChoices in communication and surveys
  frontend/src/components/core/Drawer/Drawer.tsx
  frontend/src/components/core/Drawer/DrawerItems.tsx
  frontend/src/components/people/PeopleBioData/PeopleBioData.tsx
  frontend/src/components/rdi/create/xlsx/CreateImportFromXlsxForm.tsx
  frontend/src/containers/pages/rdi/people/RegistrationDataForPeopleImportPage.tsx
  frontend/src/containers/pages/rdi/people/RegistrationDataImportForPeopleDetailsPage.tsx
  frontend/src/containers/routers/RegistrationRoutes.tsx
  frontend/src/containers/tables/Communication/RecipientsTable/RecipientsTableRow.tsx
  frontend/src/containers/tables/Surveys/RecipientsTable/RecipientsTableRow.tsx
  frontend/src/containers/tables/people/PeopleListTable/PeopleListTableRow.tsx
  frontend/src/containers/tables/rdi/RegistrationDataImportForPeopleTable/RegistrationDataImportForPeopleTable.tsx
Labels: bug, hotfix, frontend

#3887 [200898] Add signal for Partner - allowed BAs to update Program access
  backend/hct_mis_api/apps/account/apps.py
  backend/hct_mis_api/apps/account/signals.py
  backend/hct_mis_api/apps/account/tests/test_signal_change_allowed_ba.py
Labels: backend

#3891 add wallet info to people bio data
  frontend/src/components/people/PeopleBioData/PeopleBioData.tsx
  frontend/src/components/people/PeopleBioData/__snapshots__/PeopleBioData.test.tsx.snap
Labels: frontend

#3902 search by date released section managerial console
  frontend/src/components/managerialConsole/ReleasedSection.tsx
Labels: frontend

#3903 add sorting in columns released section
  frontend/src/components/managerialConsole/ReleasedSection.tsx
Labels: frontend

#3899 Fix Grievance update Ind Digital wallet details
  backend/hct_mis_api/apps/grievance/inputs.py
  frontend/data/schema.graphql
  frontend/src/__generated__/graphql.tsx
Labels: backend

#3904 Selenium CI fix
  backend/selenium_tests/conftest.py
Labels: selenium

#3912 [STG]201986 fix url rdi not merged people details page
  frontend/src/containers/tables/rdi/ImportedPeopleTable/ImportedPeopleTableRow.tsx
  frontend/src/containers/tables/rdi/ImportedPeopleTable/__snapshots__/ImportedPeopleTable.test.tsx.snap
Labels: bug

#3905 [200401]-managerial console - add group by program filter + sorting in released section
  frontend/src/components/managerialConsole/ApprovalSection.tsx
  frontend/src/components/managerialConsole/AuthorizationSection.tsx
  frontend/src/components/managerialConsole/PendingForReleaseSection.tsx
  frontend/src/components/managerialConsole/ReleasedSection.tsx
  frontend/src/components/managerialConsole/useSortAndFilter.tsx
  frontend/src/components/rdi/create/xlsx/CreateImportFromXlsxForm.tsx
Labels: frontend

#3916 Vulnerability change name
  frontend/src/components/population/HouseholdAdditionalRegistrationInformation/HouseholdAdditionalRegistrationInformation.test.tsx
  frontend/src/components/population/HouseholdAdditionalRegistrationInformation/HouseholdAdditionalRegistrationInformation.tsx
  frontend/src/components/population/HouseholdAdditionalRegistrationInformation/__snapshots__/HouseholdAdditionalRegistrationInformation.test.tsx.snap
  frontend/src/components/population/HouseholdAdditionalRegistrationInformation/index.ts
  frontend/src/components/population/HouseholdVulnerabilities/index.ts
  frontend/src/components/population/IndividualAdditionalRegistrationInformation/IndividualAdditionalRegistrationInformation.test.tsx
  frontend/src/components/population/IndividualAdditionalRegistrationInformation/IndividualAdditionalRegistrationInformation.tsx
  frontend/src/components/population/IndividualAdditionalRegistrationInformation/__snapshots__/IndividualAdditionalRegistrationInformation.test.tsx.snap
  frontend/src/components/population/IndividualAdditionalRegistrationInformation/index.ts
  frontend/src/components/population/IndividualVulnerabilities/index.ts
  frontend/src/components/rdi/create/xlsx/CreateImportFromXlsxForm.tsx
  frontend/src/components/rdi/details/individual/RegistrationIndividualAdditionalRegistrationInformation/RegistrationIndividualAdditionalRegistrationInformation.tsx
  frontend/src/components/rdi/details/individual/RegistrationIndividualAdditionalRegistrationInformation/RegistrationIndividualVulnerabilites.test.tsx
  frontend/src/components/rdi/details/individual/RegistrationIndividualAdditionalRegistrationInformation/__snapshots__/RegistrationIndividualVulnerabilites.test.tsx.snap
  frontend/src/components/rdi/details/individual/RegistrationIndividualAdditionalRegistrationInformation/index.ts
  frontend/src/components/rdi/details/individual/RegistrationIndividualVulnerabilities/index.ts
  frontend/src/containers/pages/people/PeopleDetailsPage.tsx
  frontend/src/containers/pages/population/PopulationHouseholdDetailsPage.tsx
  frontend/src/containers/pages/population/PopulationIndividualsDetailsPage.tsx
  frontend/src/containers/pages/rdi/RegistrationIndividualDetailsPage.tsx
  frontend/src/containers/pages/rdi/people/PeopleRegistrationDetailsPage.tsx
  frontend/src/utils/en.json
  package.json
Labels: frontend

#3909 [202020]-fix target criteria form crash when no object
  frontend/src/containers/forms/TargetCriteriaForm.tsx
Labels: bug, frontend

#3924 [201654]-Load program list on focus to show newly created program
  frontend/src/containers/GlobalProgramSelect.tsx
Labels: frontend

#3926 remove all users query create grievance
  frontend/src/containers/pages/grievances/CreateGrievancePage.tsx
  frontend/src/containers/pages/grievances/EditGrievancePage.tsx
Labels: frontend

#3923 [HOTFIX] Export PaymentPlan per fsp non-people
  backend/hct_mis_api/apps/account/schema.py
  backend/hct_mis_api/apps/core/tests/test_core_fields.py
  backend/hct_mis_api/apps/payment/models.py
  backend/hct_mis_api/apps/payment/tests/test_models.py
  backend/hct_mis_api/apps/payment/xlsx/xlsx_payment_plan_export_per_fsp_service.py
  backend/selenium_tests/girevance/grievance_tickets/test_grievance_tickets.py
Labels: bug, hotfix

#3921 Fix RDI only People sheet validation
  backend/hct_mis_api/apps/registration_datahub/validators.py
Labels: bug, backend

#3927 [202614] Fix edge case for validate Program end date
  frontend/src/containers/pages/program/CreateProgramPage.tsx
  frontend/src/containers/pages/program/DuplicateProgramPage.tsx
  frontend/src/containers/pages/program/EditProgramPage.tsx
Labels: frontend
